.s-about-team {
  @include layout-base;

  &__intro {
    margin-bottom: 20px;
  }

  &__cover {
    @include layout-cover;
  }

  &__title {
    @include layout-title;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__filter {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-lg) {
      flex-flow: row wrap;
      align-items: center;
    }

    .s-field-select__name {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      margin-right: 10px;

      @media only screen and (min-width: $screen-lg) {
        margin-bottom: 0;
      }
    }

    .s-field-select__select {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {

    &:nth-child(odd) {
      background-color: rgba($primary-color--lighter, 0.7);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}