.s-field-select {
  display: block;
  margin-bottom: 1rem;

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: inherit;
    border: 2px solid $primary-color;
    padding: 8px 56px 8px 10px;
    border-radius: 5px;
    appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 45 22'%3E%3Cpath fill='%23092C30' d='M0 1.47376L1.3351 0 22.5 19.3083 43.6649 0 45 1.47376 22.5 22 0 1.47376z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 22px 10px;

    @media only screen and (min-width: $screen-lg) {
      background-size: 45px 22px;
      font-size: 22px;
      line-height: 26px;
      padding: 13px 56px 13px 26px;
    }

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
