mixin social(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +social

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-social--' + modsList[i].trim();
      }
    }

  .s-social(class=allMods)&attributes(attributes)
    ul.s-social__list
      li.s-social__item
        a.s-social__link(href='/')
          +svg-icon('instagram', 54, 54)
      li.s-social__item
        a.s-social__link(href='/')
          +svg-icon('vkontakte', 54, 34)
      li.s-social__item
        a.s-social__link(href='/')
          +svg-icon('facebook', 54, 54)