.s-social {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    display: inline-block;
    color: currentColor;

    svg {
      fill: currentColor;
    }
  }
}