.s-introduction {
  background-color: $bg-color;
  color: $text-color;
  @include section-padding;

  &__intro {
    display: flex;
    flex-flow: row wrap;
    position: relative;

    @media only screen and (min-width: $screen-lg) {
      height: 100%;
      align-items: flex-start;
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: auto;

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 80%;
      max-width: 80%;
      margin-right: auto;
    }

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (7 / 6) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    flex: 0 0 90%;
    max-width: 90%;
    background-color: rgba($primary-color, 0.7);
    font-size: 12px;
    line-height: 16px;
    padding: 15px;
    color: $text-color--lighter;
    margin: auto;
    border-radius: 10px;
    transform: translateY(-20px);

    @media only screen and (min-width: $screen-lg) {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(0);
      max-width: 300px;
      background-color: $primary-color;
      font-size: 14px;
      line-height: 18px;
      padding: 20px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: $text-color--lighter;
    margin-top: 0;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 28px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @media only screen and (min-width: $screen-lg) {
      margin-top: 30px;
    }
  }
}