mixin introduction(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +introduction()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-introduction--' + modsList[i].trim();
      }
    }

  section.s-introduction(class=allMods)&attributes(attributes)
    .container
      .row
        .col-12.col-md-5.order-md-2
          .s-introduction__intro
            .s-introduction__photo
              img(src='img/olisov.jpg', alt='')
            .s-introduction__desc Д.Г. Олисов — главный врач клиники на Театральной, врач высшей категории, cоветник ректора НГУ физической культуры, спорта и здоровья им. П.Ф. Лесгафта по научно-практическим вопросам медицины спорта высших достижений и экстремальной медицины.
        .col-12.col-md-7.order-md-1
          .s-introduction__content
            h2.s-introduction__title Регенаративная терапия и спортивная медицина — это основные напрвления нашей клиники в Петербурге.
            p.s-introduction__text
              | “Клиника на театральной открыла свои двери в 0000 году. Это специализированное лечебное учреждение, где каждому пришедшему гарантирован индивидуальный подход и внимание специалистов высших категорий. Ежедневно к нам обращаются обычные пациенты, профессиональные спортсмены и звезды балета. Мы предлагаем индивидуально разрабатываемые для каждого пациента программы, направленные на продление молодости и творческой активности, сохранение здоровья и отличного самочувствия. Здесь работают спортивные врачи и неврологи, ортопеды и травматологи, мануальные терапевты, кинезиологи и другие специалисты. Регенеративная терапия и спортивная медицина, реабилитация после травм (в том числе — спортивной и балетной травмы) и лечение заболеваний опорно-двигательного аппарата (позвоночника, суставов, связок) — далеко не полный перечень медицинских услуг, которые вы получите в нашей клинике.”
        .col-12.order-md-3
          .s-introduction__actions
            +btn('Больше о клинике')