.s-feedback {
  background-color: $bg-color;
  @include section-padding;

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  &__cover {
    margin-bottom: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @media only screen and (max-width: ($screen-md - 1)) {

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (3 / 4) * 100%;
      }
    }

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
      height: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__actions-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: -7px;
    margin-right: -7px;

    @media only screen and (min-width: $screen-md) {
      margin: 0;
    }
  }

  &__actions-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-md) {
      padding: 0;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 90px;
        height: 90px;
        top: 50%;
        right: calc(100% + 15px);
        border: 3px solid $primary-color;
        border-radius: 90px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 68 68'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill='%23FC2E2E' d='M24 24H4v20h20v20h20V44h20V24H44V4H24v20z'/%3E%3Cpath stroke='%23fff' stroke-width='2' d='M24 24H4v20h20v20h20V44h20V24H44V4H24v20z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' width='68' height='68' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.95 0 0 0 0 0.26125 0 0 0 0 0.26125 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 60px;
        background-position: center;
        transform: translate3d(0,-50%,0);
        opacity: 0;
        transition: 0.125s ease-out;
        pointer-events: none;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    min-width: auto;
    width: 100%;
  }
}