mixin feedback(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +feedback

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-feedback--' + modsList[i].trim();
      }
    }

  section.s-feedback(class=allMods)&attributes(attributes)
    .container
      h2.s-feedback__title Обратная связь
      .row
        .col.col-12.col-lg-7
          .s-feedback__cover
            img(src='img/feedback-cover.jpg', alt='')
        .col.col-12.col-lg-4.offset-lg-1
          .s-feedback__actions
            ul.s-feedback__actions-list
              li.s-feedback__actions-item
                +btn('Задать вопрос врачу').s-feedback__btn
              li.s-feedback__actions-item
                +btn('Записаться на прием').s-feedback__btn
              li.s-feedback__actions-item
                +btn('Заказать обратный звонок').s-feedback__btn
              li.s-feedback__actions-item
                +btn('Позвонить в клинику').s-feedback__btn