mixin testimonials(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +testimonials()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-testimonials--' + modsList[i].trim();
      }
    }

  mixin testimonials-card()

    .s-testimonials__card
      .s-testimonials__card-cover
        img(src='https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
      .s-testimonials__card-info
        p.s-testimonials__card-quote
          | Большое спасибо митрию Николаевичу за то, что буквально открыл глаза на мою проблему. Очень грамотно всё рассказал и объяснил, без огромного списка лекарств, блокад и прочего. Такие специалисты в настоящее время большая редкость. Здоровья Вам и успехов!
        span.s-testimonials__card-quotee 30.01.20, Татьяна Александровна

  section.s-testimonials(class=allMods)&attributes(attributes)
    .container
      h2.s-testimonials__title Отзывы пациентов
      p.s-testimonials__intro Ежедневно в нашу клинику обращаются звезды балета и профессиональные спортсмены мирового уровня.
      .s-testimonials__slider
        .row
          .col-12.col-md-10.offset-md-1
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  +testimonials-card()
                .swiper-slide
                  +testimonials-card()
                .swiper-slide
                  +testimonials-card()
                .swiper-slide
                  +testimonials-card()
        .s-testimonials__slider-button-prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
            path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
        .s-testimonials__slider-button-next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
            path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
      .s-testimonials__read-more
        .row.align-items-center
          .col-12.col-lg-3
            h3.s-testimonials__subtitle Честные отзывы
            p.s-testimonials__read-more-desc Узнайте, что думают пациенты о нас на популярных порталах
          .col-12.col-lg-9
            ul.s-testimonials__resource-list.row.align-items-center
              li.s-testimonials__resource-item.order-4.col-6.col-md.order-md-1
                a.s-testimonials__resource-link(href='/')
                  img(src='img/docdoc.png', alt='')
              li.s-testimonials__resource-item.order-1.col-4.col-md.order-md-2
                a.s-testimonials__resource-link(href='/')
                  img(src='img/pro-doctorov.png', alt='')
              li.s-testimonials__resource-item.order-2.col-4.col-md.order-md-3
                a.s-testimonials__resource-link(href='/')
                  img(src='img/na_popravku.png', alt='')
              li.s-testimonials__resource-item.order-5.col-6.col-md.order-md-4
                a.s-testimonials__resource-link(href='/')
                  img(src='img/info-doctor.png', alt='')
              li.s-testimonials__resource-item.order-3.col-4.col-md.order-md-5
                a.s-testimonials__resource-link(href='/')
                  img(src='img/yell.png', alt='')
      .s-testimonials__show-more
        +btn('Все отзывы')