.s-testimonials {
  background-color: $bg-color;
  color: $text-color;
  @include section-padding;

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__intro {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__slider {
    position: relative;
    margin-bottom: 15px;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }

  &__slider-button-next,
  &__slider-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $primary-color--lighter;
    color: $text-color;
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translate3d(0, -50%, 0);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__slider-button-prev {
    left: 0;

    svg {
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg);
    }
  }

  &__slider-button-next {
    right: 0;

    svg {
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg);
    }
  }

  &__card-cover {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (9 / 12) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card-info {
    background-color: $primary-color--lighter;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media only screen and (min-width: $screen-sm) {
      padding: 30px;
    }
  }

  &__card-quote {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  &__card-quotee {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;

    @media only screen and (min-width: $screen-sm) {
      font-size: 18px;
      line-height: 26px;
      text-align: right;
    }
  }

  &__read-more {
    text-align: center;

    @media only screen and (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__read-more {

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 30px;
    }
  }

  &__read-more-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__resource-item {
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__resource-link {
    display: block;
  }

  &__show-more {
    display: flex;
    justify-content: center;
  }
}