.s-table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  tbody {

    tr {

      &:nth-child(odd) {

        td {
          background-color: #d8f6ed;
        }
      }
    }
  }

  td,
  th {
    padding: 0.5rem;
    vertical-align: top;
    border-bottom: 1px solid #105159;
    word-break: normal;

    &:not(:first-child) {
      border-left: 1px solid #105159;
    }

    &:last-child {
      white-space: nowrap;
    }
  }

  th {
    text-align: left;
    background-color: #86e8d0;
    font-size: 18px;
    font-weight: 500;

    @media only screen and (min-width: $screen-lg) {
      font-size: 20px;
    }

    &:last-child {
      text-align: center;
    }
  }
}