.s-about-history {
  @include layout-base;

  &__section {
    padding: 15px 0;
  }

  &__section-title {
    @include layout-subtitle;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__section-cover {
    text-align: center;
    margin-bottom: 1rem;
  }
}