mixin promo(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +promo()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-promo--' + modsList[i].trim();
      }
    }

  .s-promo(class=allMods)&attributes(attributes)
    .container
      .s-promo__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .s-promo__slide.s-promo__slide--first
                .s-promo__slide-content
                  .s-promo__slide-subtitle Эксклюзивная для России процедура
                  .s-promo__slide-title
                    | Текар терапия
                    span.s-promo__slide-desc на единственном в Санкт-Петербурге приборе Tekra
                  ul.s-promo__slide-list
                    li.s-promo__slide-item быстро снимает боль и воспаление
                    li.s-promo__slide-item активирует регенерацию тканей
                    li.s-promo__slide-item сокращает сроки восстановления при заболеваниях опрно-двигательного аппарата и травмах
                .s-promo__slide-cover
                  img(src='img/promo-cover-1.jpg', alt='')
            .swiper-slide
              .s-promo__slide.s-promo__slide--second
                .s-promo__slide-content
                  .s-promo__slide-subtitle Инновационная методика лечения
                  .s-promo__slide-title Ударно-волновая терапия
                  ul.s-promo__slide-list
                    li.s-promo__slide-item быстрое снятие болевого синдрома
                    li.s-promo__slide-item лечение суставов, позвоночника и последствий травм
                    li.s-promo__slide-item эффективное лечение целлюлита
                .s-promo__slide-cover
                  img(src='img/promo-cover-2.jpg', alt='')
            .swiper-slide
              .s-promo__slide.s-promo__slide--third
                .s-promo__slide-content
                  .s-promo__slide-title
                    | Кинезио тейпирование
                    span.s-promo__slide-desc Наши специалисты получили международные сертификаты по кинезиотейпированию
                  ul.s-promo__slide-list
                    li.s-promo__slide-item консультации по тейпированию
                    li.s-promo__slide-item наложение кинезиотейпов пациентам
                    li.s-promo__slide-item обучение самостоятельному кинезиотейпированию
                .s-promo__slide-cover
                  img(src='img/promo-cover-3.jpg', alt='')
        .s-promo__slider-button-prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
            path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
        .s-promo__slider-button-next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
            path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
