.s-promo {
  background-color: $bg-color;
  color: $text-color;
  position: relative;
  padding-top: 20px;

  &__slider {
    padding: 15px;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      padding: 0;
    }
  }

  &__slider-button-next,
  &__slider-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $primary-color--lighter;
    color: $text-color;
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translate3d(0, -50%, 0);

    @media only screen and (max-width: ($screen-sm - 1)) {
      width: 20px;
      height: 20px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);

      @media only screen and (max-width: ($screen-sm - 1)) {
        width: 12px;
        height: 6px;
      }
    }
  }

  &__slider-button-prev {
    left: -10px;

    @media only screen and (min-width: $screen-sm) {
      left: -20px;
    }

    svg {
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg);
    }
  }

  &__slider-button-next {
    right: -10px;

    @media only screen and (min-width: $screen-sm) {
      right: -20px;
    }

    svg {
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg);
    }
  }

  &__slide {

    &--third {

      .s-promo__slide-cover {

        img {
          object-position: right center;
        }
      }
    }
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 250px;

    @media only screen and (min-width: $screen-lg) {
      padding: 50px;
      min-height: 450px;
    }
  }

  &__slide-subtitle {
    font-size: 12px;
    line-height: 16px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 36px;
      line-height: 40px;
      max-width: 440px;
    }
  }

  &__slide-title {
    font-size: 22px;
    line-height: 26px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 76px;
      line-height: 80px;
      max-width: 640px;
    }
  }

  &__slide-desc {
    font-size: 10px;
    line-height: 14px;
    display: block;

    @media only screen and (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__slide-list {

    @media only screen and (min-width: $screen-lg) {
      display: flex;
      flex-flow: row wrap;
      max-width: 75%;
    }
  }

  &__slide-item {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    padding-left: 10px;
    max-width: 200px;

    @media only screen and (min-width: $screen-sm) {
      font-size: 18px;
      line-height: 23px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-left: 22px;
      margin-right: 30px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translate3d(0,-50%,0);
      background-color: currentColor;
      width: 4px;
      height: 4px;
      border-radius: 4px;

      @media only screen and (min-width: $screen-lg) {
        width: 10px;
        height: 10px;
        top: 5px;
        border-radius: 10px;
        transform: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}