.s-faq {
  @include layout-base;

  &__breadcrumb {
    @include layout-breadcrumb;
  }

  &__promo {
    margin-bottom: 20px;
  }

  &__cover {
    @include layout-cover;
  }

  &__title {
    @include layout-title;
  }

  &__subtitle {
    @include layout-subtitle;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }
}