.s-pagination {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__item {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 1em;
    margin: 0 10px;

    a,
    span {
      padding: 10px;
      color: currentColor;
      position: relative;
      min-width: 40px;
      display: block;
      z-index: 2;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #86e8d0;
        border-radius: 40px;
        z-index: -1;
      }
    }

    &--active {

      a,
      span {

        &::before {
          background-color: #d8f6ed;
          border: 1px solid #4de4c0;
          left: -5px;
          top: -5px;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
        }
      }
    }
  }
}