.s-breadcrumb {
  padding: 10px 20px;
  list-style: none;
  color: $text-color;
  background-color: $primary-color--lighter;
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      margin-right: 15px;

      &::after {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 6 10'%3E%3Cpath fill='%23092C30' d='M4.59994 5L0 .660409.700029 0 6 5 .700029 10 0 9.33959 4.59994 5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 6px;
        height: 10px;
        margin-left: 13px;
        transform: translateY(1px);
      }
    }
  }

  a,
  span {
    color: $text-color;
    text-decoration: underline;
  }

  a {

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}