mixin basic-card(title, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +basic-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-basic-card--' + modsList[i].trim();
      }
    }

  a.s-basic-card(href='/', class=allMods)&attributes(attributes)
    .s-basic-card__cover
      img(src='https://images.unsplash.com/photo-1519824145371-296894a0daa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
    .s-basic-card__info
      h3.s-basic-card__title #{title}