.s-basic-card {
  display: block;
  position: relative;
  color: $text-color;
  transition: 0.125s ease-out;

  &:hover,
  &:focus {
    color: $text-color--light;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (3 / 4) * 100%;

    @media only screen and (min-width: $screen-lg) {
      padding-top: (2 / 3) * 100%;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($primary-color, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    text-align: center;

    @media only screen and (min-width: $screen-lg) {
      min-height: 67px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    font-weight: 400;

    @media only screen and (min-width: $screen-lg) {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }
}