mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-inner
        a.s-page-header__logo(href='index.html')
        .s-page-header__contacts
          +btn('Записаться на прием').s-page-header__get-a-call
          ul.s-page-header__phone-list
            li: a(href='tel:+78123141064 ') +7 (812) 314-10-64
            li: a(href='tel:+79110146962') +7 (911) 014-69-62
          .s-page-header__work-hours
            | пн-пт c 10.00 до 21.00; сб-вс с 10.00 до 19.00
          address.s-page-header__address Наб. Крюкого Канала, д.8
          form.s-page-header__search
            input(type='search', placeholder='')
    .s-page-header__bottom
      nav.s-page-header__nav
        ul
          li
            a(href='/') Услуги
            ul
              li: a(href='') link
              li: a(href='') link
              li: a(href='') link
              li: a(href='') link
          li: a(href='/') О клинике
          li: a(href='/') Цены
          li: a(href='/') Акции
          li: a(href='/') Специалисты
          li: a(href='/') Отзывы
          li: a(href='/') Контакты
      .s-page-header__mobile-actions
        button.s-page-header__mobile-actions-btn.s-page-header__mobile-actions-btn--contacts
          +svg-icon('contact-smartphone', 17, 30)
          | Контакты
        button.s-page-header__mobile-actions-btn.s-page-header__mobile-actions-btn--search
          +svg-icon('loop', 28, 28)
        button.s-page-header__mobile-actions-btn.s-page-header__mobile-actions-btn--menu
          span
