.s-side-nav {
  background-color: $primary-color--lighter;
  color: $text-color;

  &__list {
    padding: 10px 30px 30px 20px;
  }

  &__item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border-bottom: 2px solid $text-color--light;
  }

  a,
  span {
    display: block;
    padding: 15px 10px;
    transition: 0.125s ease-out;
  }

  span {
    color: #fff;
  }

  a {
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }
}