mixin side-nav(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +side-nav()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-side-nav--' + modsList[i].trim();
      }
    }

  .s-side-nav(class=allMods)&attributes(attributes)
    ul.s-side-nav__list
      block

mixin side-nav-item(text, href, mods)

  //- Declaration:
  //-   text   {string} - text
  //-   href   {string} - link
  //-   mods   {string} - modifiers

  -
    // Modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-side-nav__item--' + modsList[i].trim();
      }
    }

  li.s-side-nav__item(class=allMods)&attributes(attributes)
    if href
      a(href=href)!= text
    else
      span!= text
