.s-gallery {
  border-radius: 10px;
  background-color: #d8f6ed;
  padding: 15px;
  text-align: center;

  @media only screen and (min-width: $screen-md) {
    padding: 30px;
  }

  &__title {
    @include layout-subtitle;
  }

  &__thumb {
    position: relative;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    cursor: zoom-in;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 30px;
    }

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}