.s-price {
  @include layout-base;

  &__side-nav {
    margin-bottom: 30px;
  }

  &__title {
    @include layout-title;
    text-align: center;
  }

  &__subtitle {
    @include layout-subtitle;
  }

  &__partner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  &__partner-logo {
    margin-right: 30px;
    display: block;
  }

  &__partner-caption {
    font-size: 28px;
    line-height: 1.3em;
    font-weight: 500;
  }
}