.s-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-color;
  color: $text-color--lighter;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.25s ease-out 0s;
  pointer-events: none;
  overflow-y: scroll;

  &__logo {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 36px;

    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  &__close {
    position: absolute;
    color: $primary-color;
    width: 36px;
    height: 36px;
    border: 2px solid currentColor;
    border-radius: 36px;
    padding: 0;
    top: 10px;
    right: 10px;

    &::before {
      position: absolute;
      content: '';
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }

    svg {
      fill: currentColor;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__inner {
    padding: 20px;
    padding-top: 56px;
  }

  &__nav {
    background-color: $primary-color--lighter;
    margin-bottom: 15px;

    > ul {

      > li {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;

        &:not(:last-child) {
          position: relative;

          &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 90%;
            height: 1px;
            background-color: #fff;
          }
        }

        > a {
          display: block;
          color: currentColor;
          padding: 20px;

          &:hover,
          &:focus {
            text-decoration: none;
          }

          &[aria-expanded='true'] {
            background-color: $primary-color;
          }
        }

        ul {

          li {

            a {
              display: block;
              padding: 20px;
              color: currentColor;

              &:hover,
              &:focus {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
  }

  &__feedback {

    ul {

      li {

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .s-btn {

          @media only screen and (max-width: ($screen-xs - 1)) {
            width: 100%;
          }
        }
      }
    }
  }

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }
}