mixin mobile-menu(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +mobile-menu()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-mobile-menu--' + modsList[i].trim();
      }
    }

  .s-mobile-menu(class=allMods)&attributes(attributes)
    a.s-mobile-menu__logo(href='/')
      img(src='img/logo.png', alt='')
    button.s-mobile-menu__close
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
        g(fill-rule='evenodd', clip-rule='evenodd')
          path(d='M14.4548 15.8026L0 1.34783 1.34783 0 15.8026 14.4548l-1.3478 1.3478z')
          path(d='M.197386 14.6522L14.6522.197372 16 1.54521 1.54522 16 .197386 14.6522z')
    .s-mobile-menu__inner
      .s-mobile-menu__nav
        ul
          li: a(href='/') О клинике
          li
            a.s-catalog-nav__link.collapsed(href='#mobile-menu-services-sub-level', data-toggle='collapse', role='button', aria-expanded='false', aria-controls='mobile-menu-services-sub-level') Услуги
            .multi-collapse.collapse#mobile-menu-services-sub-level
              ul
                li: a(href='/') Ортопедия и травматология
                li: a(href='/') Спортивная медицина
                li: a(href='/') Ударно-волновая терапия
                li: a(href='/') Лечебная физкультура
                li: a(href='/') Блокады, плазмотерапия
                li: a(href='/') Мануальная терапия, остеопатия
                li: a(href='/') Физиотерапия
                li: a(href='/') Неврология
                li: a(href='/') Ортопедические стельки
                li: a(href='/') Массаж
                li: a(href='/') Кинезиотейпирование
                li: a(href='/') Рефлексотерапия
                li: a(href='/') Озонотерапия
                li: a(href='/') Урология / Андрология
                li: a(href='/') Гирудотерапия
                li: a(href='/') Психология / Психотерапия
                li: a(href='/') Вызов врача на дом
                li: a(href='/') УЗИ, анализы, ЭКГ
          li: a(href='/') Цены
          li: a(href='/') Акции
          li: a(href='/') Специалисты
          li: a(href='/') Отзывы
          li: a(href='/') Контакты
      .s-mobile-menu__feedback
        span.s-mobile-menu__subtitle Обратная связь
        ul
          li
            +btn('Задать вопрос врачу')
          li
            +btn('Записаться на прием')
          li
            +btn('Заказать обратный звонок')
          li
            +btn('Позвонить в клинику')