mixin directions(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +directions()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-directions--' + modsList[i].trim();
      }
    }

  section.s-directions(class=allMods)&attributes(attributes)
    .container
      h2.s-directions__title Основные специализации
      ul.s-directions__list.row
        li.s-directions__item.col-6.col-md-4
          +basic-card('Спортивная медицина')
        li.s-directions__item.col-6.col-md-4
          +basic-card('Ортопедия травматология')
        li.s-directions__item.col-6.col-md-4
          +basic-card('Неврология')
        li.s-directions__item.col-6.col-md-4
          +basic-card('Мануальная терапия')
        li.s-directions__item.col-6.col-md-4
          +basic-card('Ударно-волновая терапия')
        li.s-directions__item.col-6.col-md-4
          +basic-card('ЛФК и СФП')
      .s-directions__actions
        +btn('Все специализации')