.s-directions {
  background-color: $bg-color;
  color: $text-color;
  @include section-padding;

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-right: -7px;
      margin-left: -7px;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media only screen and (max-width: ($screen-sm - 1)) {
      padding-right: 7px;
      padding-left: 7px;
      margin-bottom: 14px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}