.s-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color--shade;
  background-image: none;
  min-height: 50px;
  min-width: 165px;
  color: $text-color;
  margin: 0;
  padding: 0;
  border: 0;
  border: 2px solid $primary-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: normal;
  z-index: 1;
  transition: 0.125s ease-out;

  @media only screen and (max-width: ($screen-sm - 1)) {
    width: 100%;
  }

  @media only screen and (min-width: $screen-sm) {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    border-radius: 10px;
    min-width: 290px;
    min-height: 80px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 1px $primary-color;
  }

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}