.s-about-doctor {
  @include layout-base;

  &__subtitle {
    @include layout-subtitle;
  }

  &__info {
    margin-bottom: 30px;

    ul {
      margin-top: 20px;

      li {
        position: relative;
        font-size: 18px;
        line-height: 23px;
        padding-left: 20px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &::before {
          position: absolute;
          content: '';
          top: 6px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: $primary-color;
        }
      }
    }

    blockquote {
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid $primary-color;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #fb3939;

      @media only screen and (min-width: $screen-lg) {
        padding: 20px;
      }
    }
  }

  &__photo {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

    @media only screen and (min-width: $screen-sm) {
      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (4 / 3) * 100%;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media only screen and (min-width: $screen-sm) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__name {
    @include layout-title;
  }

  &__testimonial-list {
    margin-bottom: 30px;
  }

  &__testimonial-item {

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}