mixin team-item(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +team-item()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-team-item--' + modsList[i].trim();
      }
    }

  .s-team-item(class=allMods)&attributes(attributes)
    .s-team-item__inner
      .s-team-item__photo
        img(src='https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
      .s-team-item__info
        h2.s-team-item__name Василевич Сергей Викторович
        ul.s-team-item__desc-list
          li Главный врач клиники
          li Андролог-уролог
          li Спортивный врач-эксперт