.s-team-item {
  padding: 10px;

  &__inner {
    display: flex;
    flex-flow: row wrap;

    @media only screen and (min-width: $screen-sm) {
      align-items: center;
    }
  }

  &__photo {
    flex: 0 0 100%;
    width: 100%;
    max-width: 130px;
    position: relative;

    &::after {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-left: 10px;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-sm) {
      text-align: center;
      flex: 0 0 40%;
      width: 40%;
      max-width: 40%;
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
    }
  }

  &__desc-list {

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 60%;
      width: 60%;
      max-width: 60%;
    }

    li {
      font-size: 12px;
      line-height: 16px;
      padding-left: 10px;
      position: relative;

      @media only screen and (min-width: $screen-sm) {
        font-size: 18px;
        line-height: 23px;
        padding-left: 20px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &::before {
        position: absolute;
        content: '';
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: currentColor;
        border-radius: 4px;

        @media only screen and (min-width: $screen-sm) {
          width: 10px;
          height: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}