.s-team {
  background-color: $bg-color;
  @include section-padding;

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  &__slider {
    width: 100%;
    margin: auto;
    padding: 15px;
    overflow: hidden;
    position: relative;

    @media only screen and (min-width: $screen-xs) {
      max-width: 540px;
    }

    @media only screen and (min-width: $screen-sm) {
      max-width: 720px;
    }

    @media only screen and (min-width: $screen-md) {
      max-width: 960px;
      display: flex;
      flex-flow: row nowrap;
      height: 360px;
    }

    @media only screen and (min-width: $screen-lg) {
      max-width: 1140px;
    }
  }

  &__slider-top-swiper {
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 680px;
      max-width: 680px;
      order: 2;
      margin-bottom: 0;
    }
  }

  &__slider-thumbs-swiper {
    overflow: visible;

    @media only screen and (min-width: $screen-xs) {
      overflow: hidden;
    }

    @media only screen and (min-width: $screen-md) {
      align-self: center;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      order: 1;
      margin-right: 20px;
      height: 80%;
    }
  }

  &__slider-button-next,
  &__slider-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $primary-color--lighter;
    color: $text-color;
    position: absolute;
    left: 13%;
    z-index: 100;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }

    @media only screen and (min-width: $screen-lg) {
      left: 19%;
    }
  }

  &__slider-button-prev {
    top: 0;
  }

  &__slider-button-next {
    bottom: 0;

    svg {
      transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,180deg);
    }
  }

  &__actions {
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}