mixin team(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +team()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-team--' + modsList[i].trim();
      }
    }

  section.s-team(class=allMods)&attributes(attributes)
    h2.s-team__title Наши специалисты
    .s-team__slider
      .swiper-container.s-team__slider-top-swiper
        .swiper-wrapper
          .swiper-slide
            +team-card()
          .swiper-slide
            +team-card()
          .swiper-slide
            +team-card()
          .swiper-slide
            +team-card()
      .swiper-container.s-team__slider-thumbs-swiper
        .swiper-wrapper
          .swiper-slide
            +team-thumb()
          .swiper-slide
            +team-thumb()
          .swiper-slide
            +team-thumb()
          .swiper-slide
            +team-thumb()
      .s-team__slider-button-next
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
          path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
      .s-team__slider-button-prev
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 26 13', width='26', height='13')
          path(fill='#000', fill-rule='evenodd', d='M13.0693.323486L25.3379 11.5674l-.6757.7372L13.0656 1.67646 1.33582 12.3065l-.671513-.741L13.0693.323486z', clip-rule='evenodd')
    .s-team__actions
      +btn('Все специалисты')