//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/map/map.pug
include ../blocks/feedback/feedback.pug
include ../blocks/team/team.pug
include ../blocks/team-card/team-card.pug
include ../blocks/team-thumb/team-thumb.pug
include ../blocks/directions/directions.pug
include ../blocks/useful-links/useful-links.pug
include ../blocks/introduction/introduction.pug
include ../blocks/mobile-contacts/mobile-contacts.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/side-nav/side-nav.pug
include ../blocks/inner-page-layout/inner-page-layout.pug
include ../blocks/about-clinic/about-clinic.pug
include ../blocks/about-history/about-history.pug
include ../blocks/about-team/about-team.pug
include ../blocks/about-doctor/about-doctor.pug
include ../blocks/testimonial/testimonial.pug
include ../blocks/testimonial-item/testimonial-item.pug
include ../blocks/all-testimonials/all-testimonials.pug
include ../blocks/price/price.pug
include ../blocks/special-offers/special-offers.pug
include ../blocks/special-offer-card/special-offer-card.pug
include ../blocks/service/service.pug
include ../blocks/faq/faq.pug
include ../blocks/workshops/workshops.pug
include ../blocks/basic-card/basic-card.pug
include ../blocks/team-item/team-item.pug
include ../blocks/workshop/workshop.pug
include ../blocks/gallery/gallery.pug
include ../blocks/contacts/contacts.pug
include ../blocks/popupick/popupick.pug
include ../blocks/partners/partners.pug
