mixin partners()

  .s-partners
    .container
      .s-partners__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/alfa.svg', alt='', width='193px', height='40')
                figcaption.s-partners__partner-caption Альфа-страхование
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/medexpress.svg', alt='', width='82px', height='40')
                figcaption.s-partners__partner-caption Медэкспресс
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/renaissance.svg', alt='', width='150px', height='40')
                figcaption.s-partners__partner-caption Ренессанс страхование
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/reso.svg', alt='', width='138px', height='40')
                figcaption.s-partners__partner-caption Ресо
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/rosgos.svg', alt='', width='300px', height='40')
                figcaption.s-partners__partner-caption Росгосстрах
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/soglasie.svg', alt='', width='185px', height='40')
                figcaption.s-partners__partner-caption Согласие
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/sovcom.svg', alt='', width='200px', height='40')
                figcaption.s-partners__partner-caption Сокомбанк страхование
            .swiper-slide
              figure.s-partners__partner-figure
                .s-partners__partner-logo
                  img(src='img/vsc.svg', alt='', width='149px', height='40')
                figcaption.s-partners__partner-caption ВСК