.s-partners {
  background-color: #f3fdfa;
  padding: 2.25rem 0;

  &__partner-figure {

  }

  &__partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    img {
      width: auto;
      max-height: 40px;
    }
  }

  &__partner-caption {
    text-align: center;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0.5rem;
  }
}