.s-popupick {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow:
    0 -1px 1px rgba(0, 0, 0, 0.07),
    0 -2px 2px rgba(0, 0, 0, 0.05),
    0 -4px 4px rgba(0, 0, 0, 0.03);
  z-index: 2000;
  padding: 0.5rem 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  &__link {
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;

    @media only screen and (min-width: $screen-md) {
      flex-flow: row wrap;
    }

    svg {
      display: block;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0.25rem;
      }

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 0;
        margin-right: 0.5rem;
      }
    }

    span {
      display: block;
      font-size: 16px;
      line-height: 1.2em;
      font-weight: 500;

      @media only screen and (max-width: ($screen-sm - 1)) {
        display: none;
      }
    }
  }

  .s-page--is-scrolling & {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}