mixin popupick()

  .s-popupick
    .container
      .row
        .col
          a.s-popupick__link(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32', width='30', height='30')
              rect(width='20', height='2', x='6', y='19.27', rx='1', ry='1')
              rect(width='2', height='10', x='8.92', y='15.27', rx='1', ry='1')
              rect(width='2', height='10', x='21.08', y='15.27', rx='1', ry='1')
              rect(width='2', height='4', x='8.6', y='2.5', rx='1', ry='1')
              rect(width='2', height='4', x='21.4', y='2.5', rx='1', ry='1')
              path(d='M11.5,12.47c-9.88,0-10-.07-10.21-.32L2,11.44H2l.09-1c.73,0,17.09,0,27.91,0v2Z')
              path(d='M28,29.5H4a3,3,0,0,1-3-3V6.5a3,3,0,0,1,3-3H28a3,3,0,0,1,3,3v20A3,3,0,0,1,28,29.5ZM4,5.5a1,1,0,0,0-1,1v20a1,1,0,0,0,1,1H28a1,1,0,0,0,1-1V6.5a1,1,0,0,0-1-1Z')
            span Записаться на прием
        .col
          a.s-popupick__link(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32', width='30', height='30')
              path(d='M2.88,30.13A1.88,1.88,0,0,1,1,28.25V12.09A3.09,3.09,0,0,1,4.09,9H23.91A3.09,3.09,0,0,1,27,12.09V23.91A3.09,3.09,0,0,1,23.91,27h-16a.82.82,0,0,0-.48.16L4,29.75A1.89,1.89,0,0,1,2.88,30.13ZM4.09,11A1.09,1.09,0,0,0,3,12.09V28l3.23-2.44A2.83,2.83,0,0,1,7.91,25h16A1.09,1.09,0,0,0,25,23.91V12.09A1.09,1.09,0,0,0,23.91,11Z')
              path(d='M29.12,22.13A1.88,1.88,0,0,1,28,21.75l-3-2.27v-7.4A1.09,1.09,0,0,0,23.91,11H5V4.09A3.09,3.09,0,0,1,8.09,1h8.16a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H8.09A1.09,1.09,0,0,0,7,4.09V9H23.91A3.09,3.09,0,0,1,27,12.09v6.4L29,20V4.09A1.09,1.09,0,0,0,27.91,3H26.79a1,1,0,0,1-1-1h0a1,1,0,0,1,1-1h1.12A3.09,3.09,0,0,1,31,4.09V20.25a1.88,1.88,0,0,1-1.88,1.88Z')
              circle(cx='17.94', cy='18.09', r='1')
              circle(cx='14.06', cy='18.09', r='1')
              circle(cx='10.06', cy='18.09', r='1')
            span Задать вопрос врачу
        .col
          a.s-popupick__link(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32', width='30', height='30')
              rect(width='4', height='2', x='6.73', y='18.75', rx='1', ry='1')
              rect(width='10', height='2', x='6.73', y='23.15', rx='1', ry='1')
              path(d='M24.56,30.37H4.91a3.17,3.17,0,0,1-3.17-3.17V7.54A3.17,3.17,0,0,1,4.91,4.37H15.73a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H4.91A1.17,1.17,0,0,0,3.73,7.54V27.19a1.18,1.18,0,0,0,1.17,1.17H24.56a1.18,1.18,0,0,0,1.17-1.17V16.37a1,1,0,0,1,1-1h0a1,1,0,0,1,1,1V27.19A3.17,3.17,0,0,1,24.56,30.37Z')
              path(d='M16.37,19H13.1V15.73a2.34,2.34,0,0,1,.69-1.66L23.84,4A2.22,2.22,0,0,1,27,4l1.11,1.11a2.22,2.22,0,0,1,0,3.14L18,18.31A2.37,2.37,0,0,1,16.37,19ZM15.1,17h1.27a.35.35,0,0,0,.25-.1L26.67,6.84a.22.22,0,0,0,0-.31L25.56,5.43a.22.22,0,0,0-.31,0L15.2,15.49a.35.35,0,0,0-.1.25Z')
            span Написать отзыв