.s-testimonial-item {
  border-radius: 10px;
  padding: 15px;
  background-color: #d8f6ed;

  @media only screen and (min-width: $screen-lg) {
    padding: 30px;
  }

  &__quotee {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 23px;
    }

    > p {

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__more-btn {
    font-size: 12px;
    line-height: 1.5em;
    font-style: italic;
    padding: 0;
    position: relative;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 10px;
    align-self: flex-end;

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }
  }

  &__answer {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 1.5em;
      padding: 30px;
    }
  }
}