mixin testimonial-item(id)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +testimonial-item()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-testimonial-item--' + modsList[i].trim();
      }
    }

  article.s-testimonial-item(class=allMods)&attributes(attributes)
    h3.s-testimonial-item__quotee 30.01.20, Татьяна
    .s-testimonial-item__text
      p Решил оставить отзыв возможно мой опыт при лечении пяточной шпоры на правой ступне поможет другим людям. Лечил шпору в районной поликлинике, прогревали пятку с гидрокартизоном, делал компрессы с демиксидом. Результат: болезнь стала прогрессировать ходить из за боли невозможно. Более того из за переноса массы тела на левую ногу, стала образовываться шпора и на левой ступне.
      .s-testimonial-item__more.collapse(id=id)
        p В интернет нашел информацию про УВТ (ударно волновую терапию), как позитивных так и не очень. Обратился в клинику на Театральной исходя из стоимости и мощности прибора УВТ. Большое спасибо лечащему врачу Владимиру Евгеньевичу (грамотно и умно) поставил меня на ноги. Понадобилось 10 сеансов УВТ на правую стопу и 4 на левую. Передвигаюсь легко без боли, стартовые боли так же отсутствуют. Вывод: УВТ реально работает, кол-во сеансов зависит от запущенности Вашей болезни и дай Вам Бог такого врача как Михайлов Владимир Евгеньевич. Спасибо.
      button(
        type='button',
        data-toggle='collapse',
        data-target='#' + id,
        aria-expanded='false',
        aria-controls=id
      ).s-testimonial-item__more-btn Читать весь отзыв
    .s-testimonial-item__answer Ответ: Уважаемый Александр! Большое спасибо за такой подробный, грамотный отзыв. Уверены, он поможет многим пациентам определиться с лечением. Здоровья Вам!
