mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__directions
      .s-page-footer__directions-inner
        ul
          li: a(href='/') Ортопедия и травматология
          li: a(href='/') Спортивная медицина
          li: a(href='/') Ударно-волновая терапия
          li: a(href='/') Лечебная физкультура
          li: a(href='/') Блокады, плазмотерапия
          li: a(href='/') Мануальная терапия, остеопатия
          li: a(href='/') Физиотерапия
          li: a(href='/') Неврология
          li: a(href='/') Ортопедические стельки
          li: a(href='/') Массаж
          li: a(href='/') Кинезиотейпирование
          li: a(href='/') Рефлексотерапия
          li: a(href='/') Озонотерапия
          li: a(href='/') Урология / Андрология
          li: a(href='/') Гирудотерапия
          li: a(href='/') Психология / Психотерапия
          li: a(href='/') Вызов врача на дом
          li: a(href='/') УЗИ, анализы, ЭКГ
      .s-page-footer__directions-cover
        img(
          alt='',
          title='',
          data-sizes='auto',
          data-src='img/footer-bg-directions-992.jpg',
          data-srcset='img/footer-bg-directions-320.jpg 320w, img/footer-bg-directions-992.jpg 992w').lazyload

    .s-page-footer__info
      .container
        .row.align-items-center
          .col.col-12.col-md-6.col-lg-4.order-lg-3
            .s-page-footer__contacts
              ul.s-page-footer__contacts-list
                li.s-page-footer__contacts-item.s-page-footer__contacts-item--address
                  address
                    +svg-icon('contact-point', 14, 19)
                    | г. Санкт-Петербург
                    br
                    | наб. Крюкова канала, д.8
                li.s-page-footer__contacts-item.s-page-footer__contacts-item--e-mail
                  a(href='mailto:info@knt16.ru')
                    | info@knt16.ru
                li.s-page-footer__contacts-item.s-page-footer__contacts-item--phone
                  a(href='tel:+78123141064')
                    +svg-icon('contact-phone', 20, 20)
                    | +7 (812) 314-10-64
                li.s-page-footer__contacts-item.s-page-footer__contacts-item--smartphone
                  a(href='tel:+79110146962')
                    +svg-icon('contact-smartphone', 11, 20)
                    | +7 (911) 014-69-62
                li.s-page-footer__contacts-item.s-page-footer__contacts-item--work-hours
                  span пн-пт 10.00-21.00
                  span сб-вс 10.00-19.00
          .col.col-12.col-md-6.col-lg-4.order-lg-2
            .s-page-footer__social
              +social
          .col.col-12.col-lg-4.order-lg-1
            .s-page-footer__privacy
              span ООО “Олисов. Институт здоровья” 2019
              span Все права защищены © Любое копирование материалов разрешается только с согласия правообладателя сайта.
              span Медицинские услуги имеют противопоказания, необходима консультация специалиста. Информация на сайте не является публичной офертой и носит справочный характер.
