.s-page-footer {

  &__directions {
    position: relative;
    background-color: $bg-color;
    color: $text-color;
    padding: 20px 0;

    @media only screen and (min-width: $screen-xs) {
      border-top: 50px solid $primary-color;
      padding: 50px 0 40px;
    }

    @media only screen and (min-width: $screen-md) {
      border-top: 50px solid $primary-color;
      padding: 90px 0 80px;
    }
  }

  &__directions-inner {
    position: relative;
    z-index: 2;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
    margin: auto;

    @media only screen and (min-width: $screen-xs) {
      border: none;
      padding: 0;
      max-width: 540px;
      padding-right: 15px;
      padding-left: 15px;
    }

    @media only screen and (min-width: $screen-sm) {
      max-width: 720px;
    }

    @media only screen and (min-width: $screen-md) {
      max-width: 960px;
    }

    @media only screen and (min-width: $screen-lg) {
      max-width: 1140px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media only screen and (max-width: ($screen-xs - 1)) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow-x: scroll;
      }

      @media only screen and (min-width: $screen-xs) {
        column-count: 2;
        column-gap: 0;
      }

      @media only screen and (min-width: $screen-sm) {
        column-count: 3;
        column-gap: 0;
      }

      li {
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 14px;
        position: relative;
        word-break: keep-all;
        margin-right: 11px;
        padding-left: 11px;

        @media only screen and (max-width: ($screen-xs - 1)) {

          &:first-child {
            margin-left: 11px;
          }
        }

        @media only screen and (min-width: $screen-xs) {
          padding-left: 18px;
          margin-bottom: 10px;
          margin-right: 20px;
        }

        @media only screen and (min-width: $screen-md) {
          font-size: 22px;
          line-height: 28px;
        }

        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          background-color: $primary-color;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          transform: translate3d(0,-50%,0);

          @media only screen and (min-width: $screen-md) {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: $text-color--lighter;
            top: 10px;
            transform: none;
          }
        }

        a {
          color: currentColor;
          display: inline-block;
        }
      }
    }
  }

  &__directions-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: ($screen-xs - 1)) {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 255, 254, 0.75);
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    background-color: $primary-color;
    color: $text-color--light;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__contacts {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__contacts-item {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    a {
      color: currentColor;
      display: inline-block;
    }

    address {
      margin: 0;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
    }

    &--address {

      @media only screen and (min-width: $screen-md) {
        font-size: 22px;
        line-height: 23px;
      }

      svg {
        margin-right: 10px;

        @media only screen and (min-width: $screen-md) {
          display: none;
        }
      }
    }

    &--e-mail {
      padding-left: 24px;

      @media only screen and (min-width: $screen-md) {
        padding-left: 0;
        font-size: 22px;
        line-height: 23px;
      }
    }

    &--phone {

      @media only screen and (min-width: $screen-md) {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
      }

      svg {
        margin-right: 4px;
      }
    }

    &--smartphone {

      @media only screen and (min-width: $screen-md) {
        display: none;
      }

      svg {
        margin-right: 8px;
        margin-left: 5px;
      }
    }

    &--work-hours {
      display: none;
      font-size: 16px;
      line-height: 18px;

      span {
        display: block;
      }

      @media only screen and (min-width: $screen-md) {
        display: block;
      }
    }
  }

  &__social {
    margin-bottom: 30px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__privacy {
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-size: 12px;
    line-height: 14px;

    @media only screen and (min-width: $screen-md) {
      padding-top: 0;
      border-top: none;
      padding-right: 30px;
    }

    span {
      display: block;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}