.s-workshop {
  @include layout-base;

  &__title {
    @include layout-title;
  }

  &__subtitle {
    @include layout-subtitle;
  }

  &__cover {
    @include layout-cover;
  }

  &__briefly {
    margin-bottom: 30px;
  }

  &__briefly-item {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid $primary-color;

    @media only screen and (min-width: $screen-sm) {
      padding: 30px;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    margin-bottom: 20px;

    ul {
      margin-top: 20px;
      margin-bottom: 20px;

      li {
        position: relative;
        font-size: 18px;
        line-height: 23px;
        padding-left: 20px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &::before {
          position: absolute;
          content: '';
          top: 6px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: $primary-color;
        }
      }
    }

    blockquote {
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid $primary-color;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #fb3939;

      @media only screen and (min-width: $screen-lg) {
        padding: 20px;
      }
    }
  }

  &__team {
    margin-bottom: 20px;
  }

  &__team-item {
    background-color: #d8f6ed;

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__sign-up {
    margin-bottom: 30px;
  }

  &__sign-up-item {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid $primary-color;

    @media only screen and (min-width: $screen-sm) {
      padding: 30px;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    a {
      color: currentColor;
      display: inline-block;
      font-weight: 500;
    }
  }
}