.s-service {
  @include layout-base;

  &__cover {
    @include layout-cover;
  }

  &__title {
    @include layout-title;
  }

  &__subtitle {
    @include layout-subtitle;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__info-block {
    background-color: #d8f6ed;
    font-size: 18px;
    line-height: 1.5em;
    padding: 1rem;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-lg) {
      padding: 1.5rem;
      margin-bottom: 2rem;
    }

    ul {

      li {
        position: relative;
        padding-left: 1rem;

        &::before {
          position: absolute;
          content: '';
          top: 10px;
          left: 0;
          width: 7px;
          height: 7px;
          background-color: #105159;
          border-radius: 7px;
        }

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &__useful-content-list {
    margin-bottom: 1rem;
  }

  &__useful-content-item {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__useful-content-link {
    position: relative;
    color: currentColor;

    &::before {
      position: relative;
      content: '“';
    }

    &::after {
      position: relative;
      content: '”';
    }
  }

  &__doctor-list {
    margin-bottom: 20px;
  }

  &__doctor-item {

    &:nth-child(odd) {
      background-color: rgba($primary-color--lighter, 0.7);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}