.s-contacts {
  @include layout-base;

  &__cover {
    @include layout-cover;
  }

  &__subtitle {
    @include layout-subtitle;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    font-size: 20px;
    line-height: 1.5em;
    position: relative;
    padding-left: 45px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      display: inline-block;
      color: currentColor;
    }

    &--address {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M22 12.0848c0 1.7488-.6261 3.3496-1.6637 4.5854L15 24.0001l-5.33613-7.3297C8.62612 15.4346 8 13.8337 8 12.0848 8 8.17197 11.134 5 15 5s7 3.17197 7 7.0848zm-7 1.932c1.0544 0 1.9091-.8651 1.9091-1.9322 0-1.0672-.8547-1.9323-1.9091-1.9323s-1.9091.8651-1.9091 1.9323c0 1.0671.8547 1.9322 1.9091 1.9322z'/%3E%3C/svg%3E");
      }
    }

    &--phone {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M25.4335 20.2264l-2.7349-2.7349c-.754-.754-1.9809-.754-2.7349 0l-1.2431 1.2431c-.5713.5713-1.5008.5711-2.0718.0002l-5.3883-5.3928c-.5725-.5726-.5726-1.4993 0-2.0719l1.2432-1.2432c.7507-.75064.7612-1.97374-.0008-2.73558L9.76875 4.56573c-.75402-.75398-1.98091-.75398-2.7329-.00198-.56272.55782-.74422.73777-.99654.98789-2.71906 2.71902-2.71906 7.14326-.00012 9.86216l8.53751 8.542c2.7255 2.7255 7.1366 2.7257 9.8623 0l.9945-.9945c.754-.754.754-1.9809 0-2.7349zM7.94549 5.47735c.25133-.25132.66022-.25137.91236.00069L11.592 8.20363c.252.25193.252.65966 0 .91163l-.4558.45581L7.492 5.92689l.45349-.44954zM15.4885 23.0443l-8.53756-8.5421c-2.10367-2.1037-2.21929-5.40688-.35561-7.64869l3.63357 3.63359c-.95472 1.0824-.91494 2.7316.1198 3.7664l5.3881 5.3926c.0001 0 .0001.0001.0002.0002 1.0336 1.0336 2.6828 1.076 3.7664.1199l3.6337 3.6337c-2.2346 1.8605-5.5304 1.7626-7.6486-.3556zm9.0334-.9946l-.4558.4558-3.6466-3.6466.4558-.4558c.2514-.2513.6603-.2513.9117 0l2.7349 2.7349c.2514.2514.2514.6604 0 .9117z'/%3E%3C/svg%3E");
      }
    }

    &--e-mail {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M6.06252 7H23.9375C25.0748 7 26 7.89714 26 9.00001V21c0 1.1029-.9252 2-2.0625 2H6.06252C4.92517 23 4 22.1029 4 21V9.00001C4 7.89714 4.92517 7 6.06252 7zm0 1.33333c-.09341 0-.18228.01879-.26351.05161L15 16.1178l9.201-7.73286c-.0812-.03278-.1701-.05161-.2635-.05161H6.06252zm0 13.33327H23.9375c.3793 0 .6875-.2988.6875-.6667V9.79361l-9.1745 7.71029c-.1296.1087-.29.1628-.4505.1628-.1605 0-.3209-.0541-.4505-.1628L5.37499 9.79361V21c.00005.3678.3082.6666.68753.6666z'/%3E%3C/svg%3E");
      }
    }

    &--work-hours {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M15 28c-3.4724 0-6.737-1.3523-9.19242-3.8076C3.35225 21.737 2 18.4724 2 15c0-3.4724 1.35225-6.737 3.80758-9.19242C8.263 3.35225 11.5276 2 15 2c3.4724 0 6.737 1.35225 9.1924 3.80758C26.6477 8.263 28 11.5276 28 15c0 3.4724-1.3523 6.737-3.8076 9.1924C21.737 26.6477 18.4724 28 15 28zm0-24.47656c-3.0655 0-5.9475 1.19376-8.11515 3.36141S3.52344 11.9345 3.52344 15s1.19376 5.9475 3.36141 8.1151C9.0525 25.2828 11.9345 26.4766 15 26.4766s5.9475-1.1938 8.1151-3.3615c2.1677-2.1676 3.3615-5.0496 3.3615-8.1151s-1.1938-5.9475-3.3615-8.11515C20.9475 4.7172 18.0655 3.52344 15 3.52344z'/%3E%3Cpath fill='%23000' d='M14.2383 5.04883h1.5234v2.03288h-1.5234V5.04883zM20.0586 8.86353l1.4372-1.43724 1.0771 1.07706-1.4372 1.43724-1.0771-1.07706zM22.9199 14.2383h2.0329v1.5234h-2.0329v-1.5234zM20.0566 21.1379l1.0771-1.077 1.4373 1.4372-1.0771 1.0771-1.4373-1.4373zM14.2383 22.9185h1.5234v2.0328h-1.5234v-2.0328zM7.42188 21.4966l1.43723-1.4373 1.07707 1.0771-1.43724 1.4372-1.07706-1.077zM5.04883 14.2383h2.03288v1.5234H5.04883v-1.5234zM7.42383 8.5022L8.5009 7.42513l1.43723 1.43724-1.07706 1.07707L7.42383 8.5022zM20.3773 15.7616h-6.139V9.62256h1.5234v4.61564h4.6156v1.5234z'/%3E%3C/svg%3E");
      }
    }

    &--metro {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23000' d='M24 10.0781C24 5.07251 19.9626 1 15 1s-9 4.07251-9 9.0781c0 4.6991 3.60128 8.5699 8.1818 8.9859V29h1.6364v-9.936C20.3987 18.648 24 14.7772 24 10.0781zm-9 7.3828c-4.0602 0-7.36364-3.312-7.36364-7.3828 0-4.10111 3.30344-7.43748 7.36364-7.43748s7.3636 3.33637 7.3636 7.43748c0 4.0708-3.3034 7.3828-7.3636 7.3828z'/%3E%3Cpath fill='%23000' d='M14.9991 10.1097l-2.4428-4.13314h-1.6481v8.20314h1.6364V9.17493l2.4545 4.15287 2.4546-4.15287v5.00477H19.09V5.97656h-1.6481l-2.4428 4.13314z'/%3E%3C/svg%3E");
      }
    }

    &--routes {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Cpath fill='%23030104' d='M20.83 6H9.16998C7.97214 6 7 7.04444 7 8.33136V20.8625c0 .8542.42975 1.5992 1.06745 2.0058v1.3374c0 .4387.71827.7943 1.6042.7943.88635 0 1.60465-.3551 1.60465-.7943v-1.011h1.9646v-.003h4.0606v.003h1.5071v1.011c0 .4387.7183.7943 1.6042.7943.886 0 1.6042-.3551 1.6042-.7943v-1.3931c.5909-.4164.983-1.1336.983-1.9501V8.33136C23 7.04444 22.0283 6 20.83 6zm-9.2024.9956h6.7448v.64775h-6.7448V6.9956zM8.72247 19.4008v-1.5572h4.25683v1.5572H8.72247zm4.51843 3.596v-1.2347h4.0606v1.2347h-4.0606zm8.2524-3.596H17.236v-1.5572h4.2573v1.5572zm.1876-5.352c0 .1598-.2825.2896-.6321.2896H8.95121c-.34917 0-.63163-.1298-.63163-.2896V8.51514c0-.16022.28246-.28831.63163-.28831H21.0488c.3496 0 .6321.12809.6321.28831v5.53366z'/%3E%3C/svg%3E");
      }
    }
  }

  &__map {
    height: 400px;
    margin-bottom: 30px;

    @media only screen and (min-width: $screen-lg) {
      height: 660px;
    }
  }

  &__location-photo {
    width: 100%;
    height: 360px;
    margin-bottom: 30px;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__legal-info {
    margin-bottom: 30px;
  }

  &__certificates {
    margin-bottom: 30px;
  }

  &__certificate {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: zoom-in;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (4 / 3) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__the-founders {
    margin-bottom: 30px;
  }

  &__the-founders-item {
    font-size: 18px;
    line-height: 1.5em;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__the-founders-name {
    font-size: 20px;
    font-weight: 500;
    display: block;
  }

  &__info {
    display: block;
  }
}