.s-team-card {
  background-color: $primary-color--lighter;
  color: $text-color;
  border-radius: 5px;
  padding: 15px;

  @media only screen and (min-width: $screen-md) {
    padding: 0;
    height: 100%;
    border-radius: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__photo {
    margin-right: 15px;

    @media only screen and (min-width: $screen-md) {
      flex-shrink: 0;
      padding-left: 30px;
    }

    img {
      display: block;
      width: 100px;
      height: 115px;
      border-radius: 5px;
      object-fit: cover;

      @media only screen and (min-width: $screen-md) {
        width: 200px;
        height: 230px;
        border-radius: 0;
      }
    }
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-md) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__info-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-md) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__action {
    text-align: right;
  }

  &__more {
    color: currentColor;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    display: inline-block;

    @media only screen and (min-width: $screen-md) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}