mixin team-card(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +team-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-team-card--' + modsList[i].trim();
      }
    }

  .s-team-card(class=allMods)&attributes(attributes)
    .s-team-card__inner
      .s-team-card__photo
        img(src='https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
      .s-team-card__info
        h3.s-team-card__name Олисов Денис Георгиевич
        ul.s-team-card__info-list
          li.s-team-card__info-item Главный врач клиники
          li.s-team-card__info-item Спортивный врач-эксперт
          li.s-team-card__info-item Андролог-уролог
        .s-team-card__action
          a.s-team-card__more(href='/') Подробнее