.s-map {
  background-color: $bg-color;
  padding-top: 2rem;

  @media (min-width: $screen-sm) {
    padding-top: 4rem;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  &__inner {
    position: relative;
  }

  &__contacts {
    background-color: $primary-color--lighter;
    color: $text-color;
    padding: 20px;
    z-index: 2;

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: rgba($color: $primary-color--lighter, $alpha: 0.7);
      max-width: 450px;
    }
  }

  &__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__contacts-item {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      color: currentColor;
      font-weight: 400;
    }

    &--phone {

      svg {
        margin-right: 4px;
      }
    }

    &--smartphone {

      svg {
        margin-right: 8px;
        margin-left: 5px;
      }
    }

    &--metro {

      svg {
        margin-right: 4px;
      }
    }

    &--address {
      display: flex;
      flex-flow: row nowrap;

      svg {
        margin-right: 7px;
        margin-left: 3px;
      }
    }

    &--metro {
      display: flex;
      flex-flow: row nowrap;

      svg {
        flex: 0 0 auto;
        width: auto;
        max-width: 16px;
        margin-right: 8px;
      }
    }

    &--routes {
      display: flex;
      flex-flow: row nowrap;

      svg {
        flex: 0 0 auto;
        width: auto;
        max-width: 16px;
        margin-right: 8px;
      }
    }
  }

  &__contacts-routes-list {

    span {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__social {
    display: none;
    padding-left: 24px;
    margin-top: 30px;

    @media only screen and (min-width: $screen-sm) {
      display: block;
    }
  }

  &__map {
    height: 270px;
    position: relative;
    z-index: 1;

    @media only screen and (min-width: $screen-sm) {
      height: 700px;
    }
  }
}