mixin map(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +map()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-map--' + modsList[i].trim();
      }
    }

  section.s-map(class=allMods)&attributes(attributes)
    .container
      h2.s-map__title Как доехать
      .s-map__inner
        #map.s-map__map
        .s-map__contacts
          ul.s-map__contacts-list
            li.s-map__contacts-item.s-map__contacts-item--phone
              a(href='tel:+78123141064')
                +svg-icon('contact-phone', 20, 20)
                | +7 (812) 314-10-64
            li.s-map__contacts-item.s-map__contacts-item--smartphone
              a(href='tel:+79110146962')
                +svg-icon('contact-smartphone', 11, 20)
                | +7 (911) 014-69-62
            li.s-map__contacts-item.s-map__contacts-item--address
              +svg-icon('contact-point', 14, 19)
              | Наб. Крюкова канала, д.8
            li.s-map__contacts-item.s-map__contacts-item--metro
              +svg-icon('contact-metro', 20, 30)
              span Садовая, Сенная, Спасская, Адмиралтейская
            li.s-map__contacts-item.s-map__contacts-item--routes
              +svg-icon('contact-routes', 16, 20)
              .s-map__contacts-routes-list
                span От Сенной площади маршрутки 1, 124, 350; автобус 50
                span От Невского проспекта автобусы 3, 22, 27
                span Остановка “Театральная площадь” или “Мариинский Театр”
          .s-map__social
            .s-social
              ul.s-social__list
                li.s-social__item
                  a.s-social__link(href='/')
                    +svg-icon('instagram', 40, 40)
                li.s-social__item
                  a.s-social__link(href='/')
                    +svg-icon('vkontakte', 40, 25)
                li.s-social__item
                  a.s-social__link(href='/')
                    +svg-icon('facebook', 40, 40)