mixin useful-links(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +useful-links()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-useful-links--' + modsList[i].trim();
      }
    }

  .s-useful-links(class=allMods)&attributes(attributes)
    .container
      .row
        .col-12.col-md-4
          +side-nav().s-useful-links__side-nav
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-md-8
          ul.s-useful-links__card-list.row
            li.s-useful-links__card-item.col-6
              +basic-card('Награды, дипломы, грамоты')
            li.s-useful-links__card-item.col-6
              +basic-card('Акции')
            li.s-useful-links__card-item.col-6
              +basic-card('Задай вопрос врачу')
            li.s-useful-links__card-item.col-6
              +basic-card('Новости')