.s-useful-links {
  background-color: $bg-color;
  color: $text-color;
  @include section-padding;

  &__side-nav {
    margin-bottom: 15px;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0;
      height: 100%;
    }
  }

  &__card-list {

    @media only screen and (max-width: ($screen-lg - 1)) {
      margin-right: -7px;
      margin-left: -7px;
    }
  }

  &__card-item {

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 30px;
      }
    }

    @media only screen and (max-width: ($screen-lg - 1)) {
      padding-right: 7px;
      padding-left: 7px;
      margin-bottom: 14px;
    }
  }
}