mixin special-offer-card()

  article.s-special-offer-card
    .s-special-offer-card__inner
      .s-special-offer-card__cover
        img(src='https://images.unsplash.com/photo-1529982412356-901cc3a363cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80', alt='')
      .s-special-offer-card__briefly
        h2.s-special-offer-card__title Ударно-волновая терапия
        .s-special-offer-card__desc
          p Бесплатный прием врача восстановительной медицины - специалиста по УВТ - перед курсом лечения.
        +btn('Записаться на прием')(href='/').s-special-offer-card__btn