.s-special-offer-card {
  padding: 20px;
  background-color: #d8f6ed;
  border-radius: 10px;

  @media only screen and (min-width: $screen-lg) {
    padding: 40px;
  }

  &__inner {

    @media only screen and (min-width: $screen-lg) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__cover {
    width: 100%;
    height: 240px;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__briefly {

    @media only screen and (min-width: $screen-lg) {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 40px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;

    p {

      &:first-child {
        margin-top: 0;
      }
    }

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: auto;
  }
}