.s-all-testimonials {
  @include layout-base;

  &__promo {
    position: relative;
  }

  &__promo-inner {
    position: relative;
    z-index: 2;
    padding: 50px 15px;

    @media only screen and (min-width: $screen-lg) {
      padding: 90px 40px;
    }
  }

  &__title {
    @include layout-title;
    max-width: 322px;
  }

  &__promo-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid $primary-color;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__pagination {

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__read-more {
    text-align: center;
    margin: 30px 0;
  }

  &__read-more-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    @media only screen and (min-width: $screen-lg) {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
    }
  }

  &__read-more-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__resource-item {
    margin-bottom: 20px;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__resource-link {
    display: block;
  }
}