extends pug/layout.pug

block meta
  - var title = 'About Team';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-about-team
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('История клиники', '/')
            +side-nav-item('Наши специалисты')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Правовая информация', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('О клинике', '/')
            +breadcrumb-item('История клиники')
          .s-about-team__intro
            h1.s-about-team__title Наши специалисты
            .s-about-team__cover
              img(src='img/about-team-cover.jpg', alt='')
            .s-about-team__text
              p Все врачи, которые у нас работают, - врачи высшей категории, практикующие специалисты с многолетним опытом работы в таких важнейших сферах, как реабилитация, регенеративная медицина, ортопедия, травматология, спортивная медицина, неврология.
              p У нас работают уникальные мануальные терапевты и кинезиологи, высокопрофессиональные массажисты с высшим медицинским образованием, физиотерапевты и рефлексотерапевты с огромным опытом работы, инструкторы по лечебной физкультуре (ЛФК) и сециальнолй физической подготовке (СФП), получившие медицинский диплом после окончания профессиональной спортивной карьеры.
        .col-12
          +field-select(
            'Выберите специализацию:',
            {
              name: 'select',
              id: 'select'
            },
            [
              {
                title: 'Input 1',
                attrs: {
                  value: '',
                }
              },
              {
                title: 'Input 2',
                attrs: {
                  value: '',
                }
              },
            ]
          ).s-about-team__filter
          ul.s-about-team__list
            li.s-about-team__item
              +team-item()
            li.s-about-team__item
              +team-item()
            li.s-about-team__item
              +team-item()
          .s-about-team__actions
            +btn('Записаться на прием')


block footer
  +page-footer()