extends pug/layout.pug

block meta
  - var title = 'About Doctor';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-about-doctor
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('История клиники', '/')
            +side-nav-item('Наши специалисты')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Правовая информация', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('О клинике', '/')
            +breadcrumb-item('История клиники', '/')
            +breadcrumb-item('Олисов Д.Г.')
          .s-about-doctor__info
            .row
              .col-12.col-md-5.order-md-2
                .s-about-doctor__photo
                  img(src='https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
              .col-12.col-md-7.order-md-1
                h1.s-about-doctor__name Олисов Денис Георгиевич
                +btn('Записаться на прием')
                ul
                  li спортивный врач-эксперт,
                  li андролог-уролог,
                  li врач высшей категории.
                blockquote Олисов Д.Г. ведет прием как спортивный врач и травматолог, а также - как врач андролог по вопросам мужского здоровья. Профессиональная практика: Санкт-Петербург, Москва, СНГ, Европа.
              .col-12.order-md-3
                ul
                  li ведущий специалист по работе со звездами мировой балетной сцены. Артистами Мариинского театра, Михайловского театра, Театра Бориса Эйфмана, Большого театра (Москва), а также танцовщиками из Китая, Кореи, Испании, Финляндии, Италии, Германии,
                  li медицинский консультант Центра специального назначения групп Альфа, Вымпел. Тактическая и экстремальная медицина (Москва),
                  li советник ректора НГУ физической культуры, спорта и здоровья им. П.Ф. Лесгафта по вопросам медицины спорта высших достижений и экстремальной медицине,
                  li медицинский консультант сборной Дагестана по ММА,
                  li медицинский консультант Национальной сборной команды республики Беларусь,
                  li старший преподаватель-методист образовательного центра спортивной реабилитации Rocktape (США).
                blockquote
                  | Обращаем ваше внимание!
                  br
                  | Д. Г. Олисов не рекламирует в сети интернет никакие лекарственные препараты или БАДы. Любая ссылка на его экспертное мнение или фотографию на странице, предлагающей купить какое-либо лекарственное средтво (БАД) - подделка мошенников.
                h2.s-about-doctor__subtitle Основное в профессиональной деятельности Дениса Георгиевича Олисова
                ul
                  li медицинское сопровождение высокопрофессиональных спортсменов и артистов балета,
                  li предотвращение усталостных и перегрузочных травм,
                  li развитие специальных качеств силы и выносливости,
                  li реабилитационно-восстановительные программы,
                  li подведение к пиковой соревновательной нагрузке,
                  li учебно-тренировочные сборы и авторские обучающие программы.
                blockquote Клиника На Театральной не проводит консультации по применению или последствиям применения анаболических стероидов и других препаратов, запрещенных к применению законодательством РФ и международной Антидопинговой Ассоциацией!
                +btn('Задать вопрос врачу')
        .col-12
          h2.s-about-doctor__subtitle Отзывы пациентов об Олисове Денисе Георгиевиче
          .s-about-doctor__testimonial
            ul.s-about-doctor__testimonial-list
              li.s-about-doctor__testimonial-item
                +testimonial-item('first-testimonial')
              li.s-about-doctor__testimonial-item
                +testimonial-item('second-testimonial')
              li.s-about-doctor__testimonial-item
                +testimonial-item('third-testimonial')
            .s-about-doctor__actions
              +btn('Оставить отзыв')

block footer
  +page-footer()