extends pug/layout.pug

block meta
  - var title = 'About History';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-about-history
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('История клиники')
            +side-nav-item('Наши специалисты', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Правовая информация', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('О клинике', '/')
            +breadcrumb-item('История клиники')
          .s-about-history__promo
            .s-about-history__cover
              img(src='img/about-history-cover.jpg', alt='')
          .s-about-history__content
            section.s-about-history__section
              .row
                .col-12.col-md-7
                  h2.s-about-history__section-title Немного истории
                  .s-about-history__text
                    p Клиника На Театральной открылась в Санкт-Петербурге в феврале 2012 года. Она собрала под своей крышей профессионалов экстра-класса! Все врачи, которые у нас работают, - врачи высшей категории, практикующие специалисты с многолетним опытом работы в таких важнейших сферах, как реабилитация, регенеративная медицина, ортопедия, травматология, спортивная медицина, неврология.
                .col-12.col-md-5
                  .s-about-history__section-cover
                    img(src='img/section-history-cover.jpg', alt='')
            section.s-about-history__section
              .row
                .col-12.col-md-7.order-md-2
                  h2.s-about-history__section-title Персональный подход
                  .s-about-history__text
                    p Мы предлагаем индивидуально разрабатываемые для каждого пациента программы, направленные на продление молодости и творческой активности, сохранение здоровья и отличного самочувствия. Вдумчивый, персонализированный подход к оценке состояния организма пациента делает возможным улучшение качества жизни, не позволяя возрасту и болезням снижать жизненный тонус и активность человека во всех сферах его деятельности.
                .col-12.col-md-5.order-md-1
                  .s-about-history__section-cover
                    img(src='img/personal-approach-cover.jpg', alt='')
            section.s-about-history__section
              .row
                .col-12.col-md-7
                  h2.s-about-history__section-title Широкий спектр услуг
                  .s-about-history__text
                    p Регенеративная терапия и спортивная медицина, реабилитация после травм (в том числе — спортивной и балетной травмы) и лечение заболеваний опорно-двигательного аппарата — далеко не полный перечень медицинских услуг, которые вы можете получить в нашей клинике. У нас работают спортивные врачи и неврологи, ортопеды и травматологи, мануальные терапевты, кинезиологи и многие другие специалисты. Новейшие достижения совремненной медицины органично сочетаются с самыми эффективными, проверенными десятилетиями лечебными методиками.
                .col-12.col-md-5.align-self-center
                  .s-about-history__section-cover
                    img(src='img/wide-range-of-services-cover.jpg', alt='')
            section.s-about-history__section
              .row
                .col-12.col-md-7.order-md-2
                  h2.s-about-history__section-title Залог нашего успеха
                  .s-about-history__text
                    p Высокая квалификация, опыт и знания наших специалистов, самое современное диагностическое и лечебное оборудование, вдумчивый и внимательный индивидуальный подход к каждому пациенту, применение новейших разработок медицины спорта высших достижений, регенеративной медицины и технологий Велнес в сочетании с наиболее эффективными методиками лечебной, профилактической и нетрадиционной медицины.
                .col-12.col-md-5.order-md-1
                  .s-about-history__section-cover
                    img(src='img/key-to-success-cover.jpg', alt='')
  +team

block footer
  +page-footer()