extends pug/layout.pug

block meta
  - var title = 'Testimonials';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-all-testimonials
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Отзывы')
          .s-all-testimonials__promo
            .s-all-testimonials__promo-inner
              h1.s-all-testimonials__title Отзывы наших клиентов
              +btn('Оставьте свой отзыв')
            .s-all-testimonials__promo-cover
              img(src='img/all-testimonials-cover.jpg', alt='')
        .col-12
          ul.s-all-testimonials__list
            li.s-all-testimonials__item
              +testimonial-item('first-testimonial')
            li.s-all-testimonials__item
              +testimonial-item('second-testimonial')
            li.s-all-testimonials__item
              +testimonial-item('third-testimonial')
          +pagination().s-all-testimonials__pagination
            +pagination-item('1', '/')
            +pagination-item('2', '/')
            +pagination-item('3', '', true)
            +pagination-item('4', '/')
            +pagination-item('5', '/')
          .s-all-testimonials__read-more
            h2.s-all-testimonials__read-more-title Узнайте, что думают пациенты о нас на популярных порталах
            ul.s-all-testimonials__resource-list.row.align-items-center
              li.s-all-testimonials__resource-item.order-4.col-6.col-md.order-md-1
                a.s-all-testimonials__resource-link(href='/')
                  img(src='img/docdoc.png', alt='')
              li.s-all-testimonials__resource-item.order-1.col-4.col-md.order-md-2
                a.s-all-testimonials__resource-link(href='/')
                  img(src='img/pro-doctorov.png', alt='')
              li.s-all-testimonials__resource-item.order-2.col-4.col-md.order-md-3
                a.s-all-testimonials__resource-link(href='/')
                  img(src='img/na_popravku.png', alt='')
              li.s-all-testimonials__resource-item.order-5.col-6.col-md.order-md-4
                a.s-all-testimonials__resource-link(href='/')
                  img(src='img/info-doctor.png', alt='')
              li.s-all-testimonials__resource-item.order-3.col-4.col-md.order-md-5
                a.s-all-testimonials__resource-link(href='/')
                  img(src='img/yell.png', alt='')

block footer
  +page-footer()