extends pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-contacts
    .container
      .row
        .col-12.d-none.d-lg-block
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Акции')
        .col-12
          .s-contacts__cover
            img(src='https://images.unsplash.com/photo-1579187827899-235ccbb3dbdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
          ul.s-contacts__list
            li.s-contacts__item.s-contacts__item--address
              address Наб. Крюкого Канала, д.8
            li.s-contacts__item.s-contacts__item--phone
              a(href='tel:+78123141064') +7 (812) 314-10-64
              br
              a(href='tel:+79110146962') +7 (911) 014-69-62
            li.s-contacts__item.s-contacts__item--e-mail
              a(href='mailto:info@knt16.ru') info@knt16.ru
            li.s-contacts__item.s-contacts__item--work-hours
              | Пн–Пт 09.00-21.00
              br
              | Сб–Вс 10.00-20.00
            li.s-contacts__item.s-contacts__item--metro
              | Садовая (1,2 км)
              br
              | Спасская (1,4 км)
              br
              | Сенная площадь (1,4 км)
              br
              | Технологический институт (1,6 км)
              br
              | Пушкинская (1,9 км)
            li.s-contacts__item.s-contacts__item--routes
              | От Сенной площади маршрутки 1, 124, 350, автобус 50
              br
              | От Невского проспекта автобусы 3, 22, 27
              br
              | Остановка “Театральная площадь” или “Мариинский театр”
        .col-12
          h2.s-contacts__subtitle Схема проезда
          #map.s-contacts__map
          .s-contacts__location-photo
            img(src='https://images.unsplash.com/photo-1579187827899-235ccbb3dbdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
        .col-12
          h2.s-contacts__subtitle Правовая информация
          +side-nav().s-contacts__legal-info
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12
          h2.s-contacts__subtitle Лицензии
          .s-contacts__certificates
            .row
              .col-6.col-md-3
                a.s-contacts__certificate(href='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                  img(src='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
              .col-6.col-md-3
                a.s-contacts__certificate(href='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                  img(src='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
              .col-6.col-md-3
                a.s-contacts__certificate(href='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                  img(src='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
              .col-6.col-md-3
                a.s-contacts__certificate(href='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                  img(src='https://images.unsplash.com/photo-1532153432275-818ef462eb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
        .col-12
          h2.s-contacts__subtitle Сведение об учредителях
          .s-contacts__the-founders
            ul.s-contacts__the-founders-list
              li.s-contacts__the-founders-item
                span.s-contacts__the-founders-name Олисов Денис Георгиевич
                span.s-contacts__the-founders-info
                  | Генеральный директор.
                  br
                  | Образование - высшее. (Первый Санкт-Петербургский Государственный Медицинеский Университет им. акад. И.П. Павлова,  НГУ физической культуры, спорта и здоровья им. П.Ф. Лесгафта.)
              li.s-contacts__the-founders-item
                span.s-contacts__the-founders-name Новожилов Максим Юрьевич
                span.s-contacts__the-founders-info
                  | Образование - высшее. (Санкт-Петербургский Государственный Политехнический Университет Петра Великого.)
              li.s-contacts__the-founders-item
                span.s-contacts__the-founders-name Мялло Елена Алексеевна
                span.s-contacts__the-founders-info
                  | Образование - высшее. (Санкт-Петербургский Государственный Экономический Университет)

        .col-12
          h2.s-contacts__subtitle Правила внутреннего распорядка для пациентов (потребителей услуг)
          .s-contacts__privacy
            ol
              li
                | Общие положения
                ol
                  li Правила внутреннего распорядка для пациентов Общества с ограниченной ответственностью «Олисов.Институт здоровья» (далее – Медицинский центр) являются организационно-правовым документом, регламентирующим в соответствии с законодательством Российской Федерации в сфере здравоохранения поведение пациента в Медицинском центре, а также иные вопросы, возникающие между участниками правоотношений - пациентом (его представителем) и Медицинским центром.
                  li Правила разработаны в соответствии с Федеральным законом от 21.11.2011г. № 323-ФЗ «Об основах охраны здоровья граждан в РФ» гл.11 ст. 84, с Законом Российской Федерации от 07.02.1992 №2300-1 «О

block footer
  +page-footer()

block append page-bottom
  script.

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 59.93222, lng: 30.324154},
        scrollwheel: false
      });

      setMarkers(map);
    }

    var points = [
      ['C-Crew', 59.93222, 30.324154],
    ];

    function setMarkers(map) {
      var image = {
        url: 'img/icon-map.png',
        size: new google.maps.Size(86, 26),
        anchor: new google.maps.Point(75, 26)
      };

      for (var i = 0; i < points.length; i++) {
        var point = points[i];
        var marker = new google.maps.Marker({
          position: {lat: point[1], lng: point[2]},
          map: map,
          icon: image,
          title: point[0]
        });
      }
    }

  script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtNjPbrhp4TRuUYYrjCWy5WS8QMJ1be2A&signed_in=true&callback=initMap')