extends pug/layout.pug

block meta
  - var title = 'FAQ';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-faq
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav().s-faq__side-nav
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-lg-9
          +breadcrumb().s-faq__breadcrumb
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Вопрос–ответ')
          .s-faq__promo
            h1.s-faq__title Задайте вопрос специалисту
            .s-faq__cover
              img(src='https://images.unsplash.com/photo-1543269865-4430f94492b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            p Уважаемые посетители сайта медицинского центра Клиника На Театральной! Наши специалисты с удовольствием ответят на ваши вопросы.
            p Но напоминаем, что только личная встреча с доктором поможет поставить единственно правильный диагноз и подобрать оптимальное лечение.
            p Ответы на вопросы, заданные на сайте, не могут заменить полноценный врачебный прием.
            p Возможно, вопрос который вас интересует, уже кем-то был задан. Вы можете ознакомиться с ответами на наиболее часто задаваемые вопросы в соответствующем разделе рубрики "Вопрос-ответ".
        .col-12
          .s-faq__subtitle Выберите интересующий вас раздел
          .row
            .col-12.col-lg-4.d-none.d-lg-block
              +side-nav().s-faq__side-nav
                +side-nav-item('Консультации специалистов', '/')
                +side-nav-item('Блокады, фармакопунктура, плазмотерапия')
                +side-nav-item('Вызов врача на дом', '/')
                +side-nav-item('Гирудотерапия', '/')
                +side-nav-item('Кинезиотейпирование', '/')
                +side-nav-item('Лечебная физкультура', '/')
                +side-nav-item('Мануальная терапия', '/')
                +side-nav-item('Снижение веса', '/')
                +side-nav-item('Массаж', '/')
                +side-nav-item('Ортопедия и травматология', '/')
                +side-nav-item('Неврология', '/')
                +side-nav-item('Психология / психотерапия', '/')
                +side-nav-item('Физиотерапия', '/')
                +side-nav-item('Рефлексотерапия', '/')
                +side-nav-item('Спортивная медицина', '/')
                +side-nav-item('Урология / андрология', '/')
                +side-nav-item('УЗИ, доплерография (УЗДГ)', '/')
                +side-nav-item('Ударно-волновая терапия', '/')
                +side-nav-item('Озонотерапия', '/')
                +side-nav-item('Функциональная диагностика (ЭКГ)', '/')
                +side-nav-item('Анализы (лабораторная диагностика)', '/')
                +side-nav-item('Процедурный кабинетя', '/')
            .col-12.col-lg-8
              ul.s-faq__list
                li.s-faq__item
                  +testimonial-item('first-testimonial')
                li.s-faq__item
                  +testimonial-item('second-testimonial')
                li.s-faq__item
                  +testimonial-item('third-testimonial')


block footer
  +page-footer()