extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  +promo
  +introduction
  +useful-links
  +testimonials
  +directions
  +team
  +feedback
  +map

block footer
  +page-footer()

block append page-bottom
  script.

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 59.93222, lng: 30.324154},
        scrollwheel: false
      });

      setMarkers(map);
    }

    function initMap() {
      var map = new google.maps.Map(document.querySelector('.s-mobile-contacts__map'), {
        zoom: 13,
        center: {lat: 59.93222, lng: 30.324154},
        scrollwheel: false
      });

      setMarkers(map);
    }

    var points = [
      ['C-Crew', 59.93222, 30.324154],
    ];

    function setMarkers(map) {
      var image = {
        url: 'img/icon-map.png',
        size: new google.maps.Size(86, 26),
        anchor: new google.maps.Point(75, 26)
      };

      for (var i = 0; i < points.length; i++) {
        var point = points[i];
        var marker = new google.maps.Marker({
          position: {lat: point[1], lng: point[2]},
          map: map,
          icon: image,
          title: point[0]
        });
      }
    }

  script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtNjPbrhp4TRuUYYrjCWy5WS8QMJ1be2A&signed_in=true&callback=initMap')