extends pug/layout.pug

block meta
  - var title = 'Price';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-price
    .container
      .row
        .col-12.d-none.d-lg-block
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Отзывы')
        .col-12.d-none.d-lg-block
          h1.s-price__title Цены на услуги нашей клиники
          figure.s-price__partner
            img(src='img/rosgosstrah.jpg', alt='').s-price__partner-logo
            figcaption.s-price__partner-caption Наш партнер по ДМС РосГосСтрах
        .col-12.col-lg-5
          +side-nav().s-price__side-nav
            +side-nav-item('Консультации специалистов', '/')
            +side-nav-item('Блокады, фармакопунктура, плазмотерапия')
            +side-nav-item('Вызов врача на дом', '/')
            +side-nav-item('Гирудотерапия', '/')
            +side-nav-item('Кинезиотейпирование', '/')
            +side-nav-item('Лечебная физкультура', '/')
            +side-nav-item('Мануальная терапия', '/')
            +side-nav-item('Снижение веса', '/')
            +side-nav-item('Массаж', '/')
            +side-nav-item('Ортопедия и травматология', '/')
            +side-nav-item('Неврология', '/')
            +side-nav-item('Психология / психотерапия', '/')
            +side-nav-item('Физиотерапия', '/')
            +side-nav-item('Рефлексотерапия', '/')
            +side-nav-item('Спортивная медицина', '/')
            +side-nav-item('Урология / андрология', '/')
            +side-nav-item('УЗИ, доплерография (УЗДГ)', '/')
            +side-nav-item('Ударно-волновая терапия', '/')
            +side-nav-item('Озонотерапия', '/')
            +side-nav-item('Функциональная диагностика (ЭКГ)', '/')
            +side-nav-item('Анализы (лабораторная диагностика)', '/')
            +side-nav-item('Процедурный кабинетя', '/')
        .col-12.col-lg-7
          h2.s-price__subtitle Блокады, фармакопунктура, плазмотерапия
          +table()
            thead
              tr
                th Наименование услуги
                th Цена
            tbody
              tr
                td Внутрисуставное введение лекарственных веществ (без стоимости лекарст. преп.)
                td 1700-00 руб
              tr
                td Внутрисуставное введение лекарственных веществ под контролем УЗИ (без стоимости лекарст. преп.)
                td 2700-00 руб
              tr
                td Блокада 1 степени сложности (без стоимости лекарст.преп.)
                td 400 руб
              tr
                td Нейро-мышечная блокада (без стоимости лекарст. преп.)
                td 950 руб.
          h2.s-price__subtitle Вызов врача на дом
          +table()
            thead
              tr
                th Наименование услуги
                th Цена
            tbody
              tr
                td Внутрисуставное введение лекарственных веществ (без стоимости лекарст. преп.)
                td 1700-00 руб
              tr
                td Внутрисуставное введение лекарственных веществ под контролем УЗИ (без стоимости лекарст. преп.)
                td 2700-00 руб
              tr
                td Блокада 1 степени сложности (без стоимости лекарст.преп.)
                td 400 руб
              tr
                td Нейро-мышечная блокада (без стоимости лекарст. преп.)
                td 950 руб.
          h2.s-price__subtitle Гирудотерапия
          +table()
            thead
              tr
                th Наименование услуги
                th Цена
            tbody
              tr
                td Внутрисуставное введение лекарственных веществ (без стоимости лекарст. преп.)
                td 1700-00 руб
              tr
                td Внутрисуставное введение лекарственных веществ под контролем УЗИ (без стоимости лекарст. преп.)
                td 2700-00 руб
              tr
                td Блокада 1 степени сложности (без стоимости лекарст.преп.)
                td 400 руб
              tr
                td Нейро-мышечная блокада (без стоимости лекарст. преп.)
                td 950 руб.

  +partners()

block footer
  +page-footer()