extends pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-service
    .container
      .row
        .col-12.d-none.d-lg-block
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Акции')
        .col-12.col-lg-4.d-none.d-lg-block
          +side-nav()
            +side-nav-item('Консультации специалистов', '/')
            +side-nav-item('Блокады, фармакопунктура, плазмотерапия')
            +side-nav-item('Вызов врача на дом', '/')
            +side-nav-item('Гирудотерапия', '/')
            +side-nav-item('Кинезиотейпирование', '/')
            +side-nav-item('Лечебная физкультура', '/')
            +side-nav-item('Мануальная терапия', '/')
            +side-nav-item('Снижение веса', '/')
            +side-nav-item('Массаж', '/')
            +side-nav-item('Ортопедия и травматология', '/')
            +side-nav-item('Неврология', '/')
            +side-nav-item('Психология / психотерапия', '/')
            +side-nav-item('Физиотерапия', '/')
            +side-nav-item('Рефлексотерапия', '/')
            +side-nav-item('Спортивная медицина', '/')
            +side-nav-item('Урология / андрология', '/')
            +side-nav-item('УЗИ, доплерография (УЗДГ)', '/')
            +side-nav-item('Ударно-волновая терапия', '/')
            +side-nav-item('Озонотерапия', '/')
            +side-nav-item('Функциональная диагностика (ЭКГ)', '/')
            +side-nav-item('Анализы (лабораторная диагностика)', '/')
            +side-nav-item('Процедурный кабинетя', '/')
        .col-12.col-lg-8
          .s-service__content
            h1.s-service__title УВТ — Ударно волновая терапия
            .s-service__text
              .s-service__cover
                img(src='https://images.unsplash.com/photo-1535268244390-8b989b92d2bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
              p Ударно-волновая терапия — УВТ — на сегодняшний день является наиболее эффективным, высокотехнологичным методом лечения, который успешно применяется в ортопедии, травматологии, неврологии, косметологии, кардиологии, урологии.
              p Ударно-волновая терапия в СПб блестяще себя зарекомендовала как альтернатива операции даже в таких тяжелых случаях, когда другие методы консервативного лечения недостаточно эффективны либо противопоказаны.
              p Разработан метод УВТ был в 90-х годах 20-го века в Швейцарии и Германии, за эти годы получил широкое распространение в Европе. На сегодняшний день ударно-волновая терапия является самым инновационным и успешным в России методом лечения целого ряда заболеваний.
            h2.s-service__subtitle В нашей клинике процедура УВТ проводится на современном аппарате Storz Medical “Masterpulse” (Швейцария)
            h2.s-service__subtitle Количество импульсов на одну зону воздействия 5000 единиц
            .s-service__info-block
              h2.s-service__subtitle Показания к процедуре УВТ
              ul
                li пяточная шпора (плантарный фасциит),
                li болезнь Осгуда Шляттера,
                li деформирующий остеоартроз суставов (коленного, голеностопного, тазобедренного, плечевого, локтевого, лучезапястного, межфаланговых суставов стопы и кисти),
                li остеохондроз (спондилоартроз) позвоночника,
                li косточки на ногах,
                li диабетическая стопа,
                li хронические спортивные травмы,
                li травмы и заболевания ахиллова сухожилия (ахиллобурсит),
                li эпикондилит (локоть теннисиста),
                li етеносиновит,
                li различные заболевания связок,
                li медленное сращение костей (замедленная консолидация переломов),
                li рубцы и стяжки различного происхождения,
                li контрактура сустава,
                li боли в копчике (кокцигодиния),
                li целлюлит.
            .s-service__info-block
              h2.s-service__subtitle Результаты процедуры УВТ
              ul
                li быстро снимает боль, а после курса процедур дает стойкий обезболивающий эффект,
                li снимает отек и воспаление,
                li постепенно естественным образом разрушает костные наросты, размягчает фиброзные уплотнения,
                li восстанавливает подвижность суставов, увеличивает объем движения (борется с контрактурой),
                li успешно устраняет эффект «апельсиновой корки».
            .s-service__info-block
              h2.s-service__subtitle Преимущества метода УВТ
              ul
                li во многих случаях ударно-волновая терапия позволяет избежать хирургического вмешательства,
                li воздействует только на пораженные участки, не затрагивая нервы и сосуды,
                li не разрушает нормальную костную и хрящевую ткань,
                li не имеет побочных эффектов лекарственных препаратов,
                li может применяться в лечении тех пациентов, которым противопоказана основная аппаратная физиотерапия, т.к. имеет очень узкий перечень противопоказаний.
            .s-service__info-block
              h2.s-service__subtitle Противопоказания
              ul
                li беременность,
                li инфекционные заболевания в острой стадии,
                li воспалительные заболевания в стадии обострения,
                li нарушение свертываемости крови,
                li онкологические заболевания в зоне, на которую должно оказываться воздействие,
                li открытые раны, язвы, гипсовая повязка в зоне воздействия.
            h2.s-service__subtitle Как работает УВТ
            .s-service__text
              p Импульсы звуковых волн частотой до 10 Гц (на нижней границе звука, воспринимаемого человеческим ухом) создают эффект кавитации, который появляется на границе жидких и твердых тел. Именно кавитация способствует разрушению и удалению из организма избыточных отложений солей кальция (что так важно при таких проблемах, как остеофиты на позвоночнике и суставах - то, что в просторечии называют «отложение солей» и камни в почках). Целлюлит, атеросклеротические бляшки, рубцы и стяжки успешно разрушаются и исчезают, благодаря воздействию УВТ. Даже в урологии ударно-волновая терапия нашла свое применение — врачи используют метод УВТ в лечении простатита (вместо массажа предстательной железы с помощью УВТ-прибора выбивают из простаты застоявшийся секрет). Происходит это благодаря импульсам (ударам) звуковых волн сторого разработанных лечебных характеристик, которые проникают вглубь тканей организма до 55 мм.
            h2.s-service__subtitle Стоимость процедуры
            +table()
              thead
                tr
                  th Наименование услуги
                  th Цена
              tbody
                tr
                  td Внутрисуставное введение лекарственных веществ (без стоимости лекарст. преп.)
                  td 1700-00 руб
                tr
                  td Внутрисуставное введение лекарственных веществ под контролем УЗИ (без стоимости лекарст. преп.)
                  td 2700-00 руб
                tr
                  td Блокада 1 степени сложности (без стоимости лекарст.преп.)
                  td 400 руб
                tr
                  td Нейро-мышечная блокада (без стоимости лекарст. преп.)
                  td 950 руб.
            h2.s-service__subtitle Читайте статьи наших специалистов об УВТ
            ul.s-service__useful-content-list
              li.s-service__useful-content-item
                a.s-service__useful-content-link(href='/') Пяточная шпора и ее лечение в Петербурге
              li.s-service__useful-content-item
                a.s-service__useful-content-link(href='/') Врач ортопед-травматолог - консультация и прием
              li.s-service__useful-content-item
                a.s-service__useful-content-link(href='/') Заболевания суставов. Диагностика и лечение суставов
        .col-12
          h2.s-service__subtitle Запишитесь на консультацию и процедуру УВТ к специалистам нашей клиники
          ul.s-service__doctor-list
            li.s-service__doctor-item
              +team-item()
            li.s-service__doctor-item
              +team-item()
          .s-service__actions
            +btn('Записаться на прием')

block footer
  +page-footer()