extends pug/layout.pug

block meta
  - var title = 'Special Offers';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-special-offers
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Акции')
          ul.s-special-offers__list
            li.s-special-offers__item
              +special-offer-card()
            li.s-special-offers__item
              +special-offer-card()
            li.s-special-offers__item
              +special-offer-card()
            li.s-special-offers__item
              +special-offer-card()

block footer
  +page-footer()