extends pug/layout.pug

block meta
  - var title = 'Workshops';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-workshops
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Сборы и семинары')
          ul.s-workshops__list.row
            li.s-workshops__item.col-6
              +basic-card('Зимние сборы 2020')
            li.s-workshops__item.col-6
              +basic-card('Осенние сборы 2019')
            li.s-workshops__item.col-6
              +basic-card('Зимние сборы 2019')

block footer
  +page-footer()