extends pug/layout.pug

block meta
  - var title = 'Workshop';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-contacts
  +mobile-menu

block content
  .s-workshop
    .container
      .row
        .col-12.col-lg-3.d-none.d-lg-block
          +side-nav()
            +side-nav-item('Статьи', '/')
            +side-nav-item('Новости клиники', '/')
            +side-nav-item('Фотогалерея', '/')
            +side-nav-item('Наши партнеры', '/')
            +side-nav-item('Правовая информация', '/')
            +side-nav-item('Сборы и семинары', '/')
        .col-12.col-lg-9
          +breadcrumb()
            +breadcrumb-item('Главная', 'index.html')
            +breadcrumb-item('Сборы и семинары', 'workshops.html')
            +breadcrumb-item('Отзывы')
          .s-workshop__promo
            .s-workshop__cover
              img(src='https://images.unsplash.com/photo-1579590029605-456853815a26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            h1.s-workshop__title Осенние сборы в Кисловодске
            p Уникальный шанс попасть в наш УТС по балету и гимнастике в условиях современного центра Олимпийской подготовки сборных команд РФ!
        .col-12
          .s-workshop__briefly
            .row
              .col-12.col-md-4
                .s-workshop__briefly-item
                  h3.s-workshop__subtitle Что?
                  p Учебно-тренировочные сборы (УТС) для спортсменов и юных балерин с коррекционно-развивающей программой “Movabiliti professional”
              .col-12.col-md-4
                .s-workshop__briefly-item
                  h3.s-workshop__subtitle Где?
                  p ФГБУ “Юг спорт” Кисловодск- крупнейший спортивный центр подготовки сборных и клубных команд.
              .col-12.col-md-4
                .s-workshop__briefly-item
                  h3.s-workshop__subtitle Когда?
                  p 28.10-07.11.2019
          .s-workshop__info
            h2.s-workshop__subtitle Коррекционно-развивающая программа “Movability Professional”
            .s-workshop__text
              ul
                li Инновационная концепция кинезиотерапии.
                li Разработана ведущими международными экспертами в биомеханике и реабилитации из США, Европы и России.
                li Опробована отечественными специалистами по спортивной медицине, ЛФК, кинезиологии и биомеханике.
                li Функциональный скрининг, утренние пробежки, специальные тренировки, бассейн, СПА да банька и снова тренировки.
                li И все это на высоте 1240 метров!
            h2.s-workshop__subtitle Наши специалисты
            .s-workshop__team
              ul.s-workshop__team-list
                li.s-workshop__team-item
                  +team-item()
                li.s-workshop__team-item
                  +team-item()
                li.s-workshop__team-item
                  +team-item()
            h2.s-workshop__subtitle Что будет?
            .s-workshop__text
              ul
                li общефункциональный скрининг, на основании оторого создаётся  индивидуальная программа (коррекция общих дисфункций, укрепление стоп, работа над осанкой),
                li коррекционно - развивающие занятия по программе "Movability Professional",
                li растяжка и разработка профессиональных данных,
                li хореографический урок (партер, середина),
                li предметная подготовка,
                li развитие силовой выносливости, баланса и прыжка.
              p Все занятия проходят под контролем  врача-эксперта по спортивной и балетной травме.
            h2.s-workshop__subtitle Кому подходит
            .s-workshop__text
              ul
                li балерины
                li гимнастки
                li фигуристки
                li синхронное плавание
                li акробатика
                li народный и современный танецs
              blockquote Родителей ждет 1,5 часа общей профессиональной беседы с доктором на тему способов грамотного и здорового развития ребёнка в балете, спорте. - Что такое функциональная дисфункция, и почему нужно давать разноплановую нагрузку, что такое кинезиологический тейп и как он работает. Все это и многое другое на нашем осеннем сборе на спортивной олимпийской базе ЮГ СПОРТ КИСЛОВОДСК. Будь готов к новым победам вместе с нами!
            h2.s-workshop__subtitle Лучшие условия для вас!
            .s-workshop__text
              p ЮГ СПОРТ КИСЛОВОДСК- уникальное место, где можно совместить занятия спортом, оздоровление и незабываемый отдых в горах.
              ul
                li мини группа, индивидуальный подход к каждому участнику,
                li 4,5 часа разноплановой нагрузки в день, каждый час особенный,
                li современные номера с красивым видом,
                li 3х разовое питание по системе “шведский стол”,
                li пешие прогулки по тропам здоровья заповедника,
                li возможность лечения в олимпийском реабилитационно-восстановительном центре,
                li уникальная обширная спортивная инфраструктура,
                li плавательный бассейн 25 метров,
                li банный комплекс с 7 видами парных,
                li аква-зона с купелью и джакузи.
            h2.s-workshop__subtitle Как записаться
            .s-workshop__sign-up
              .row
                .col-6.col-md-4
                  .s-workshop__sign-up-item
                    p Записаться на предпросмотр, а также узнать всю подробную информацию, можно по телефону
                    a(href='tel:+79217841084') +7 (921) 784-10-84
                .col-6.col-md-4
                  .s-workshop__sign-up-item
                    p Также вы можете отправить заявку на почту
                    a(href='mailto:pro98olisova@mail.ru') pro98olisova@mail.ru
            +gallery()

block footer
  +page-footer()