body {
  word-break: break-word;
}

p {

  & + & {
    margin-top: 1rem;
  }
}

// ul {

//   &:not([class]) {
//     margin-top: 20px;
//     margin-bottom: 20px;

//     li {
//       position: relative;
//       padding-left: 1.25em;
//       line-height: 1.5em;

//       &::before {
//         position: absolute;
//         content: '';
//         top: 0.6em;
//         left: 0;
//         width: 0.35em;
//         height: 0.35em;
//         background-color: currentColor;
//         border-radius: 1em;
//       }
//     }
//   }
// }

ol {
  list-style-type: none;
  counter-reset: number;

  > li {
    position: relative;

    &::before {
      counter-increment: number;
      content: counters(number, '.') '.';
      font-size: inherit;
      line-height: inherit;
      position: relative;
      margin-right: 0.25rem;
    }
  }
}