// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;

// Project colors
$text-color:                  #092c30;
$text-color--lighter:         #105159;
$text-color--light:           #fff;

$bg-color:                    #f3faf6;
$bg-color--shade:             #f3fdfa;

$primary-color--lighter:      #86e8d0;
$primary-color:               #4de4c0;

// Semantic colors
$success:                     #16c98d;
$warning:                     #ffc83f;
$danger:                      #fa5e5b;

// Font
$font-family: 'Fira Sans',
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);

// Layout mixins
@mixin section-padding {
  padding: 2rem 0;

  @media (min-width: $screen-sm) {
    padding: 4rem 0;
  }
}

@mixin section-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;

  @media only screen and (min-width: $screen-sm) {
    font-size: 42px;
    line-height: 50px;
  }
}



// Inner Pages

@mixin layout-base {
  background-color: $bg-color--shade;
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin layout-title {
  font-size: 18px;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  color: #105159;

  @media only screen and (min-width: $screen-lg) {
    font-size: 42px;
  }
}

@mixin layout-subtitle {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  color: #105159;

  @media only screen and (min-width: $screen-lg) {
    font-size: 28px;
  }
}

@mixin layout-cover {
  position: relative;
  margin-bottom: 20px;

  @media only screen and (min-width: $screen-lg) {
    float: right;
    max-width: 390px;
    width: 100%;
    margin-left: 20px;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: (3 / 4) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin layout-breadcrumb {
  margin-bottom: 30px;

  @media only screen and (max-width: ($screen-md - 1)) {
    display: none;
  }
}