mixin team-thumb(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +team-thumb()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-team-thumb--' + modsList[i].trim();
      }
    }

  .s-team-thumb(class=allMods)&attributes(attributes)
    .s-team-thumb__inner
      .s-team-thumb__photo
        img(src='https://images.unsplash.com/photo-1582750433449-648ed127bb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
      .s-team-thumb__info
        h3.s-team-thumb__name Олисов Денис Георгиевич
        ul.s-team-thumb__info-list
          li.s-team-thumb__info-item Главный врач клиники
