.s-team-thumb {
  background-color: $primary-color--lighter;
  color: $text-color--lighter;
  border-radius: 5px;
  padding: 15px;

  @media only screen and (min-width: $screen-md) {
    padding: 0;
    border-radius: 20px;
    height: 100%;
  }

  &__inner {

    @media only screen and (min-width: $screen-md) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__photo {
    margin-bottom: 10px;

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 100px;
      max-width: 100px;
      margin-bottom: 0;
    }

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 150px;
      max-width: 150px;
    }

    img {
      display: block;
      width: 72px;
      height: 72px;
      border-radius: 72px;
      object-fit: cover;
      margin: auto;

      @media only screen and (min-width: $screen-lg) {
        width: 100px;
        height: 100px;
        border-radius: 100px;
      }
    }
  }

  &__info {
    padding: 10px;
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 5px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__info-item {
    font-size: 10px;
    line-height: 14px;

    @media only screen and (min-width: $screen-lg) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}