.s-mobile-contacts {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-color;
  color: $text-color;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.25s ease-out 0s;
  pointer-events: none;
  overflow-y: scroll;

  &__close {
    position: absolute;
    color: $primary-color;
    width: 36px;
    height: 36px;
    border: 2px solid currentColor;
    border-radius: 36px;
    padding: 0;
    top: 10px;
    right: 10px;

    &::before {
      position: absolute;
      content: '';
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }

    svg {
      fill: currentColor;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
  }

  &__inner {
    padding: 20px 30px;
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__address {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -19px;
      width: 12px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 16'%3E%3Cpath fill='%23105159' fill-rule='evenodd' d='M0 5.97554C0 2.65123 2.70998 0 6 0s6 2.65123 6 5.97554c0 1.47631-.5379 2.82558-1.4236 3.86488L5.99985 16 1.42126 9.83766C.536948 8.79874 0 7.45054 0 5.97554zM6 .99363C3.18782.99363.950989 3.24822.950989 5.97554c0 1.22175.445381 2.34278 1.190321 3.21285l.01104.0129 3.8475 5.17831 3.84563-5.17579.01115-.01301c.74617-.87041 1.19237-1.99239 1.19237-3.21526C11.049 3.24822 8.81218.99363 6 .99363zm-.00022 3.98428c-.59319 0-1.03119.47066-1.03119.99738 0 .52673.438.99738 1.03119.99738.59319 0 1.03119-.47065 1.03119-.99738 0-.52672-.438-.99738-1.03119-.99738zm-1.98217.99738c0-1.12371.91113-1.99101 1.98217-1.99101s1.98217.8673 1.98217 1.99101c0 1.12372-.91113 1.99101-1.98217 1.99101s-1.98217-.86729-1.98217-1.99101z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__phone-list {

    li {
      font-size: 20px;
      line-height: 30px;

      a {
        display: inline-block;
        color: currentColor;
      }
    }
  }

  &__work-hours {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;

    span {
      display: block;
    }
  }

  &__how-to-get-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__map {
    width: 100%;
    height: 180px;
  }

  &__routes {
    background-color: $primary-color--lighter;
    padding: 20px;
  }

  &__route-list {
    position: relative;
    padding-left: 22px;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;
    }

    li {
      font-size: 12px;
      line-height: 16px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &--subway {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 19'%3E%3Cpath fill='%23092C30' d='M4.37145 3.37695L6 6.18161l1.62855-2.80466h1.09872v5.56641H7.63636V5.54727L6 8.36526 4.36364 5.54727v3.39609H3.27273V3.37695h1.09872z'/%3E%3Cpath fill='%23092C30' fill-rule='evenodd' d='M6 0c3.30838 0 6 2.76349 6 6.16016 0 3.18865-2.40085 5.81534-5.45455 6.09754V19h-1.0909v-6.7423C2.40085 11.9755 0 9.34881 0 6.16016 0 2.76349 2.69162 0 6 0zM1.09091 6.16016c0 2.76233 2.20227 5.00974 4.90909 5.00974s4.9091-2.24741 4.9091-5.00974c0-2.78292-2.20228-5.04688-4.9091-5.04688-2.70682 0-4.90909 2.26396-4.90909 5.04688z' clip-rule='evenodd'/%3E%3C/svg%3E");
        width: 12px;
        height: 19px;
      }
    }

    &--buses {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 16'%3E%3Cpath fill='%23092C30' d='M10.3725 0H1.62749C.729104 0 0 .879529 0 1.96325V12.5158c0 .7193.322313 1.3467.800585 1.6891v1.1263c0 .3694.538705.6688 1.203155.6688.66477 0 1.20347-.2991 1.20347-.6688v-.8514h1.47348v-.0026H7.7261v.0026h1.13037v.8514c0 .3694.53871.6688 1.20313.6688.6645 0 1.2032-.2991 1.2032-.6688V14.158c.4432-.3507.7372-.9546.7372-1.6422V1.96325C12 .879529 11.2712 0 10.3725 0zM3.47072.838403h5.05856v.545467H3.47072V.838403zM1.29185 11.2849V9.97353h3.1926v1.31137h-3.1926zm3.38884 3.0282v-1.0397H7.7261v1.0397H4.68069zM10.87 11.2849H7.67704V9.97353H10.87v1.31137zm.1406-4.50697c0 .13456-.2118.24387-.474.24387H1.46341c-.26188 0-.473726-.10931-.473726-.24387V2.11801c0-.13492.211846-.24279.473726-.24279h9.07319c.2622 0 .474.10787.474.24279v4.65992z'/%3E%3C/svg%3E");
        width: 12px;
        height: 16px;
      }
    }
  }

  &__call-back {

    @media only screen and (max-width: ($screen-xs - 1)) {
      width: 100%;
    }
  }

  &__privacy {
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
    text-decoration: underline;
    color: currentColor;
  }

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }
}