mixin mobile-contacts(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +mobile-contacts()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-mobile-contacts--' + modsList[i].trim();
      }
    }

  .s-mobile-contacts(class=allMods)&attributes(attributes)
    button.s-mobile-contacts__close
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
        g(fill-rule='evenodd', clip-rule='evenodd')
          path(d='M14.4548 15.8026L0 1.34783 1.34783 0 15.8026 14.4548l-1.3478 1.3478z')
          path(d='M.197386 14.6522L14.6522.197372 16 1.54521 1.54522 16 .197386 14.6522z')
    .s-mobile-contacts__inner
      .s-mobile-contacts__block
        address.s-mobile-contacts__address наб. Крюкого канала, д.8
      .s-mobile-contacts__block
        ul.s-mobile-contacts__phone-list
          li: a(href='tel:+78123141064') +7 (812) 314-10-64
          li: a(href='tel:+79110146962') +7 (911) 014-69-62
      .s-mobile-contacts__block
        .s-mobile-contacts__work-hours
          span пн-пт 10.00-21.00
          span сб-вс 10.00-19.00
      .s-mobile-contacts__block
        .s-mobile-contacts__how-to-get-title Как доехать
        .s-mobile-contacts__map
        .s-mobile-contacts__routes
          ul.s-mobile-contacts__route-list.s-mobile-contacts__route-list--subway
            li Садовая, Сенная, Спасская, Адмиралтейская
          ul.s-mobile-contacts__route-list.s-mobile-contacts__route-list--buses
            li От Сенной площади маршрутки: 1, 124, 350; автобус 50
            li От Невского проспекта автобусы: 3, 22, 27
            li Остановка “Театральная площадь” или “Мариинский Театр”
      .s-mobile-contacts__block
        +btn('Записаться на прием').s-mobile-contacts__call-back
      .s-mobile-contacts__block
        +social
      .s-mobile-contacts__block
        a.s-mobile-contacts__privacy(href='/') Правовая информация