.s-special-offers {
  @include layout-base;

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }
}